<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thêm Người Dùng</title>
    <link rel="stylesheet" href="/static/css/Admin/add_user.css">
    <script>
        function alertFeature() {
            alert('Tính năng đang được được phát triển');
        }

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const selectElement = document.getElementById('genderSelect');
            const hiddenInputElement = document.getElementById('Gender');

            selectElement.addEventListener('change', function() {
                hiddenInputElement.value = this.value;
            });
        });
    </script>
</head>
<body>
<script src="/static/js/sidebar.js"></script>
<script src="/static/js/navbar.js"></script>

<div class="body1">
    <div class="wrapper">
        <form id="userform">
            <div class="top-fields">
                <div class="field input">
                    <label for="userName">Họ và Tên</label>
                    <input type="text" id="userName" name="userName" placeholder="Vui lòng nhập họ và tên" required>
                </div>
            </div>

            <div class="field input">
                <label for="email">Email</label>
                <input type="tel" id="email" name="email" placeholder="Vui lòng nhập Email" required>
            </div>

            <div class="field input">
                <label for="password">Password</label>
                <input type="tel" id="password" name="password" placeholder="Vui lòng nhập Password" required>
            </div>

            <div class="field input">
                <label for="address">Địa chỉ</label>
                <input type="tel" id="address" name="address" placeholder="Vui lòng nhập địa chỉ" required>
            </div>

            <div class="field input" style="margin-bottom: 20px;">
                <label for="role" style="display: inline-block;">Chức Vụ</label>
                <select id="role" style="margin-left:2%;" name="Role">
                    <option value="Customer">Khách Hàng</option>
                    <option value="Manager">Quản Lý Cửa Hàng</option>
                    <option value="Sale Staff">Nhân Viên Bán Hàng</option>
                    <option value="Delivery Staff">Nhân Viên Vận Chuyển</option>
                </select>
            </div>

            <label for="gender" style="margin-left: 10px; font-weight: bold;">Giới Tính</label>
            <input type="radio" name="gender" id = "gender" value="Nam" > Nam
            <input type="radio" name="gender" id = "gender1" value="Nữ"> Nữ

            <div class="button">
                <input type="submit" value="Thêm nhân viên" class="save">
                <input type="button" value="Hủy" class="cancel">
            </div>
        </form>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src = "/static/js/Admin/add_user.js"></script>

</body>
</html>


