<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hóa Đơn</title>
    <link rel="stylesheet" href="/static/css/Admin/bill.css">
    <script>
        function alertFeature() {
            alert('Tính năng đang được được phát triển');
        }
    </script>
</head>
<body>

<div class="sidebar">
    <h2>GOLDIOUNES SHOP</h2>
    <ul class="main-menu">
        <li><a href="./admin.html"><span class="icon"><ion-icon name="home-outline"></ion-icon></span> Trang chủ</a></li>
        <li class="submenu">
            <a href="customer_management.html"><ion-icon name="people-outline"></ion-icon> Quản lý người dùng</a>
        </li>
        <li class="submenu">
            <a href="product.html"><ion-icon name="server-outline"></ion-icon> Quản lý sản phẩm</a>
        </li>
        <li class="submenu">
            <a href="discount.html"><ion-icon name="pricetag-outline"></ion-icon> Mã giảm giá</a>
        </li>
        <li class="submenu">
            <a href="blog_management.html"><ion-icon name="newspaper-outline"></ion-icon> Quản lý bài viết</a>
        </li>
        <li class="submenu">
            <a href="#"><ion-icon name="cart-outline"></ion-icon> Bán hàng</a>
            <ul>
                <li><a href="./detail.html"><ion-icon name="clipboard-outline"></ion-icon> Quản lý đơn hàng</a></li>
                <li><a href="./order.html"><ion-icon name="clipboard-outline"></ion-icon> Quản lý hóa đơn</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="./feedback.html"><ion-icon name="notifications-outline"></ion-icon> Phản hồi</a>
        </li>
        <li><a href="./statistical.html"><span class="icon"><ion-icon name="analytics"></ion-icon></span> Thống kê</a></li>
        <li><a href="./mail.html"><span class="icon"><ion-icon name="mail-outline"></ion-icon></span> Hộp thư</a></li>
        <li class="submenu">
            <a href="#" onclick="logout()"><ion-icon name="log-out-outline"></ion-icon> Đăng xuất</a>
        </li>
    </ul>
</div>

<div class="navbar">
    <div class="navbar__info">
    </div>
    <div class="navbar__cta">
        <div class="navbar__hello">
            <ion-icon name="notifications-outline"></ion-icon> 5 Notifications
        </div>
        <div class="navbar__hello">
            <ion-icon name="settings-outline"></ion-icon> Settings
        </div>
        <div class="navbar__background-icon">
            <img src="/static/Adimages/account.svg" alt="" />
        </div>
        <div class="navbar__hello">
            <p>Xin chào</p>
        </div>
    </div>
</div>
<div class="navbar-separator"></div>
<div class="main">
    <!-- Content goes here -->
</div>

<div class="body1">
    <div class="contain">
        <div class="header">
            <h1>Thông Tin Hóa Đơn</h1>
        </div>
        <div class="main-content">
            <div class="order-info">
                <h3>Thông Tin Khách Hàng</h3>
                <p><strong>Tên: </strong><span id="customerName"></span></p>
                <p><strong>Số Điện Thoại: </strong><span id="customerPhone"></span></p>
                <p><strong>Mã Hóa Đơn: </strong><span id="InvoiceID"></span></p>
                <p><strong>Ngày Đặt Hàng: </strong><span id="InvoiceDate"></span></p>
                <p><strong>Trạng Thái Đơn Hàng: </strong><span id="orderStatus"></span></p>
            </div>
            <div class="product-info">
                <h3>Thông Tin Sản Phẩm</h3>
                <table id="product-table">
                    <thead>
                    <tr>
                        <th>Tên Sản Phẩm</th>
                        <th>Giá</th>
                        <th>Số Lượng</th>
                        <th>Thành Tiền</th>
                    </tr>
                    </thead>
                    <tbody id="product-table-body">
                    <!-- Dữ liệu sản phẩm sẽ được thêm vào đây -->
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Tổng cộng</strong></td>
                        <td id="totalAmount">0</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Voucher Giảm Giá<p><strong>Mã Giảm Giá Đã Áp Dụng: </strong><span id="voucherName"></span></p></strong></td>
                        <td id="discountAmount">0</td>
                    </tr>
                    <tr>
                        <td colspan="3" style="text-align: right;"><strong>Tổng Thanh Toán</strong></td>
                        <td id="totalPaymentAmount">0</td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
    <button id="confirmButton" style="padding: 10px 20px;border-radius : 10px; margin: 30px 3%;">Back</button>

</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="/static/js/Admin/bill.js"></script>

</body>
</html>

