<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Lý Mã Giảm Giá</title>
    <link rel="stylesheet" href="/static/css/Admin/discount.css" />
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
</head>

<body>
<script src="/static/js/sidebar.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/url.js"></script>
<script src="/static/js/Admin/discount.js"></script>
<script src="/static/js/tokenAdmin.js"></script>
<script src="/static/js/tokenDelivery.js"></script>


<script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js">
</script>

<script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js">

</script>

<div class="main-content">
    <div class="customer-management">
        <button class="add-promotion-btn" id="openpopup1">
            Thêm Mã Giảm Giá <i class="fas fa-plus"></i>
        </button>

        <input
                type="text"
                id="search-bar"
                placeholder="Nhập Tên Mã Giảm Giá..."
                class="search-bar"
        />

        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên Khuyến Mãi</th>
                    <th>Phần trăm giảm</th>
                    <th>Mô Tả</th>
                    <th>Ngày Bắt Đầu</th>
                    <th>Hạn Sử Dụng</th>
                    <th>Thao Tác</th>
                </tr>
                </thead>
                <tbody id="voucher-List">
                <!-- Các hàng sẽ được thêm bằng JavaScript -->
                </tbody>
            </table>

            <!-- Popup HTML -->
            <div id="popup" class="popup-overlay">
                <div class="popup-content">
                    <p>Are you sure to delete promotion?</p>
                    <button id="yes-btn" class="popup-btn">Yes</button>
                    <button id="no-btn" class="popup-btn">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup1-overlay" id="popup1Overlay">
    <div class="popup1-content">
        <span class="popup1-close" id="closepopup1">&times;</span>
        <div class="wrapper">
            <form id="voucherForm" enctype="multipart/form-data">
                <div class="top-fields">
                    <div class="field input">
                        <label for="Name">Tên Chương Trình Khuyến Mãi</label>
                        <input
                                type="text"
                                id="Name"
                                name="Name"
                                placeholder=" "
                                required
                        />
                    </div>
                    <div class="field input">
                        <label for="Percent">Phần Trăm Giảm</label>
                        <input
                                type="number"
                                id="Percent"
                                name="Percent"
                                placeholder=" "
                                required
                        />
                    </div>
                </div>
                <div class="middle-fields">
                    <div class="field input">
                        <label for="StartDate">Ngày Bắt Đầu</label>
                        <input
                                type="datetime-local"
                                id="StartDate"
                                name="StartDate"
                                placeholder=""
                                required
                        />
                    </div>
                    <div class="field input">
                        <label for="EXDate">Ngày Kết Thúc</label>
                        <input
                                type="datetime-local"
                                id="EXDate"
                                name="EXDate"
                                placeholder=""
                                required
                        />
                    </div>
                </div>
                <div class="middle-fields">
                    <div class="field input">
                        <label for="Describes">Mô Tả</label>
                        <input
                                type="text"
                                id="Describes"
                                name="Describes"
                                placeholder=" "
                                required
                        />
                    </div>
                </div>
                <div class="button">
                    <input type="submit" value="Xác Nhận" class="save"/>
                    <input
                            type="button"
                            value="Hủy"
                            class="cancel"
                            id="cancelButton"
                    />
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>
