<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="feedback.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            alert('Tính năng đang được phát triển');
            window.location.href = "../menu/menu.html";
        });
    </script>
</head>
<body>

<div class="sidebar">
    <h2>PERFUME SHOP</h2>
    <ul class="main-menu">
        <li><a href="../menu/menu.html"><span class="icon"><ion-icon name="home-outline"></ion-icon></span> Trang chủ</a></li>
        <li class="submenu"><a href="#"><ion-icon name="people-outline"></ion-icon> Quản lý</a>
            <ul>
                <li><a href="../quanly/QLKH.html"><ion-icon name="receipt-outline"></ion-icon> Quản lý khách hàng </a></li>
                <li><a href="../Themngdung/themngdung.html"><ion-icon name="person-add-outline"></ion-icon> Thêm khách hàng mới </a></li>
                <li><a href="../Themngdung/chinhsuaKH.html"><ion-icon name="create-outline"></ion-icon> Chỉnh sửa thông tin khách </a></li>
                <li><a href="../quanly/QLNS.html"><ion-icon name="person-outline"></ion-icon>  Quản lý nhân sự </a></li>
                <li><a href="../Themngdung/chinhsuaNV.html"><ion-icon name="create-outline"></ion-icon> Chỉnh sửa thông tin nhân sự </a></li>
                <li><a href="../Themngdung/themnvmoi.html"><ion-icon name="person-add-outline"></ion-icon> Thêm thông tin nhân sự </a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><ion-icon name="server-outline"></ion-icon> Sản phẩm</a>
            <ul>
                <li><a href="../sanpham/sp.html"><ion-icon name="receipt-outline"></ion-icon> Quản lý sản phẩm</a></li>
                <li><a href="../sanpham/chinhsuasp.html"><ion-icon name="clipboard-outline"></ion-icon> Chỉnh sửa sản phẩm</a></li>
                <li><a href="../themsanpham/themsanpham.html"><ion-icon name="receipt-outline"></ion-icon> Thêm sản phẩm mới</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><ion-icon name="pricetag-outline"></ion-icon> Mã giảm giá</a>
            <ul>
                <li><a href="../magiamgia/mgg.html"><ion-icon name="receipt-outline"></ion-icon> Quản lý mã giảm giá</a></li>
                <li><a href="../magiamgia/chinhsuamagg.html"><ion-icon name="clipboard-outline"></ion-icon> Chỉnh sửa mã giảm giá</a></li>
                <li><a href="../magiamgia/themmagiamgia.html"><ion-icon name="bookmark-outline"></ion-icon> Thêm mã giảm giá</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><ion-icon name="cart-outline"></ion-icon> Bán hàng</a>
            <ul>
                <li><a href="../order/order.html"><ion-icon name="clipboard-outline"></ion-icon> Quản lý hóa đơn</a></li>
                <li><a href="../order/detail.html"><ion-icon n
                                                             ame="add-circle-outline"></ion-icon> Chi tiết đơn hàng</a></li>
                <li><a href="../order/chinhsuaorder.html"><ion-icon name="clipboard-outline"></ion-icon> Chỉnh sửa đơn hàng</a></li>
                <li><a href="../order/hoadon.html"><ion-icon name="today-outline"></ion-icon> Quản lý hóa đơn </a></li>
                <li><a href="../order/bill.html"><ion-icon name="receipt-outline"></ion-icon> Hóa đơn</a></li>
                <li><a href="../order/themdonhan.html"><ion-icon name="bag-add-outline"></ion-icon>Tạo đơn hàng</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#"><ion-icon name="notifications-outline"></ion-icon> Phản hồi</a>
            <ul>
                <li><a href="../feedback/feedback.html"><ion-icon name="receipt-outline"></ion-icon> Phản hồi khách hàng</a></li>
            </ul>
        </li>
        <li><a href="../thongke/tk.html"><span class="icon"><ion-icon name="analytics"></ion-icon></span> Thống kê</a></li>
        <li><a href="../hopthu/hopthu.html"><span class="icon"><ion-icon name="mail-outline"></ion-icon></span> Hộp thư</a></li>
        <li class="submenu">
            <a href="#"><ion-icon name="person-circle-outline"></ion-icon> Tài khoản</a>
            <ul>

                <li><a href="#" onclick="logout()"><ion-icon name="log-out-outline"></ion-icon> Đăng xuất</a></li>
                <script>
                    function logout() {
                        // Xóa token từ sessionStorage
                        sessionStorage.removeItem('accessToken');

                        // Chuyển hướng người dùng về trang đăng nhập
                        window.location.href = '../Login/login.html';
                    }
                </script>
            </ul>
        </li>
    </ul>
</div>

<div class="navbar">
    <div class="navbar__info">
        <p>Admin Thùy Trang</p>
    </div>
    <div class="navbar__cta">
        <div class="navbar__hello">
            <ion-icon name="notifications-outline"></ion-icon> 5 Notifications
        </div>
        <div class="navbar__hello">
            <ion-icon name="settings-outline"></ion-icon> Settings
        </div>
        <div class="navbar__background-icon">
            <img src="../assets/img/account.svg" alt="" />
        </div>
        <div class="navbar__hello">
            <p>Xin chào, Admin</p>
        </div>
    </div>
</div>
<div class="navbar-separator"></div>
<div class="main">
    <!-- Content goes here -->
</div>
</div>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
    <link rel="stylesheet" href="feedback.css">
</head>