<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quên Mật Khẩu</title>
    <link rel="stylesheet" href="/static/css/Admin/forgotpass.css">
</head>

<body>
<div class="container">
    <div class="password-reset-form">
        <h2 class = "form-heading"> Đổi mật khẩu </h2>
        <form>
            <div class="form-group">
                <label for="confirm-password">Mật khẩu cũ:</label>
                <input type="password" id="confirm" name="confirm-password" class = "form-input" required placeholder ="Nhập mật khẩu cũ">
            </div>
            <div class="form-group">
                <label for="new-password">Mật khẩu mới:</label>
                <input type="password" id="new-password" name="new-password" class = "form-input" required placeholder ="Nhập mật khẩu mới">
            </div>
            <div class="form-group">
                <label for="confirm-password">Xác nhận mật khẩu:</label>
                <input type="password" id="confirm-password" name="confirm-password" class = "form-input" required placeholder ="Nhập lại mật khẩu mới">
            </div>
            <div class="button-group">
                <button type="button" onclick="cancelReset()" class="login-forgotpass">Hủy</button>
                <button type="button" onclick="location.href='../Login/logout.js'" class="confirm-button">Xác nhận</button>
            </div>
        </form>
    </div>
</div>

<script>
    function cancelReset() {
        // Điều chỉnh hành động khi nhấn nút Hủy ở đây
        alert("Đã hủy thao tác đổi mật khẩu");
        window.location.href = '../menu/menu.html';
    }
    function validateForm() {
        var username = document.getElementById("username").value;
        var role = document.getElementById("role").value;
        var phone = document.getElementById("phone").value;

        if (username === "" || role === "" || phone === "") {
            alert("Hãy nhập đầy đủ thông tin!");
        }
    }

    //ràng buộc token
    // document.addEventListener('DOMContentLoaded', function() {
    //     const accessToken = sessionStorage.getItem('accessToken');
    //
    //     if (!accessToken) {
    //         window.location.href = '../Login/login.html';
    //     }
    // });
</script>
</body>
</html>

