<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hộp thư</title>
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/sidebar.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f7fb;
        }
    </style>
</head>

<body>
<script src="/static/js/sidebar.js"></script>
<script src="/static/js/navbar.js"></script>
<script src="/static/js/tokenAdmin.js"></script>
<script src="/static/js/tokenDelivery.js"></script>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const accessToken = sessionStorage.getItem('accessToken');

        if (!accessToken) {
            alert('Tính năng đang được phát triển');
            window.location.href = 'login1.html';
        }
    });
</script>

</body>
</html>


