<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chỉnh Sửa Thông Tin Nhân Viên</title>
    <link rel="stylesheet" href="/static/css/Admin/personnel_editing.css">
    <script>
        function alertFeature() {
            alert('Tính năng đang được được phát triển');
        }
    </script>
</head>
<body>

<script src="/static/js/sidebar.js"></script>
<script src="/static/js/navbar.js"></script>

<div class="main">
    <!-- Main content -->
    <div class="body1">
        <div class="wrapper">
            <form id="employeeform">
                <div class="top-fields">
                    <div class="field input">
                        <label for="Name">Họ Và Tên</label>
                        <input type="text" id="Name" name="Name" placeholder="Vui lòng nhập họ và tên" required>
                    </div>
                    <div class="field input">
                        <label for="Phone">SĐT</label>
                        <input type="tel" id="Phone" name="Phone" placeholder="Vui lòng nhập SĐT" required>
                    </div>
                </div>
                <div class="field input">
                    <label for="Address">Địa chỉ cụ thể</label>
                    <input type="text" id="Address" name="Address" placeholder="Nhập Địa chỉ cụ thể" required>
                </div>
                <div class="field input">
                    <label for="Salary">Lương</label>
                    <input type="text" id="Salary" name="Salary" placeholder="Nhập mức lương" required>
                </div>
                <div class="field input" style="display:block; margin-bottom: 20px">
                    <label for="Role" style="display:inline-block;">Chức Vụ</label>
                    <select id="Role" name="Role" style="display:inline-block; margin-left: 2%;">
                        <option value="Nhân Viên Thu Ngân">Nhân Viên Thu Ngân</option>
                        <option value="Nhân Viên Tiếp Thị">Nhân Viên Tiếp Thị</option>
                        <option value="Quản Lý Cửa Hàng">Quản Lý Cửa Hàng</option>
                    </select>
                </div>
                <div class="container">
                    <label style="font-weight:bold; margin-left:10px;">Giới tính </label>
                    <label for="GenderMale" class="radio-inline"></label>
                    <input type="radio" name="Gender" id="GenderMale" value="Nam"> Nam
                    <label for="GenderFemale" class="radio-inline"></label>
                    <input type="radio" name="Gender" id="GenderFemale" value="Nữ"> Nữ
                </div>
                <div class="button">
                    <input type="submit" value="Cập nhật nhân viên" class="save">
                    <input type="button" value="Hủy" class="cancel">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="/static/js/Admin/personnel_editing.js"></script>

</body>
</html>

