<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thống kê</title>
    <link rel="stylesheet" href="/static/css/Admin/statistical.css">
    <script>
        function alertFeature() {
            alert('Tính năng đang được được phát triển');
        }
    </script>
</head>
<body>

<script src="/static/js/sidebar.js"></script>
<script src="/static/js/navbar.js"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/js/Admin/statistical.js"></script>

<div class="main">
    <div class="cards">
        <div class="card">
            <div class="card-content" id="total-revenue">
                <h3>Total Revenue</h3>
                <p id="total-revenue-value" >Loading...</p>
            </div>
            <div class="icon-box1">
                <i class="fa-solid fa-dollar-sign"></i>
            </div>

        </div>
        <!-- 2 -->
        <div class="card">
            <div class="card-content" id="total-orders">
                <h3>Total Orders</h3>
                <p id="total-orders-value">Loading...</p>
            </div>
            <div class="icon-box1">
                <i class="fa-solid fa-cart-plus"></i>
            </div>
        </div>
        <!-- 3 -->
        <div class="card">
            <div class="card-content" id="total-products-sold">
                <h3>Products Sold</h3>
                <p id="total-products-sold-value">Loading...</p>
            </div>
            <div class="icon-box1">
                <i class="fa-solid fa-chart-simple"></i>
            </div>
        </div>
        <!-- 4 -->
        <div class="card">
            <div class="card-content" id="total-employees">
                <h3>Total Employees</h3>
                <p id="total-employees-value">Loading...</p>
            </div>
            <div class="icon-box1">
                <i class="fa-solid fa-users"></i>
            </div>
        </div>
    </div>
    <div class="filter-container">
        <label for="year-select">Select Year:</label>
        <select id="year-select">
            <option value="2023">2023</option>
            <option value="2024">2024</option>
        </select>
    </div>
    <div class="charts">
        <div class="chartLeft">
            <canvas id="monthly-revenue-chart"></canvas>
        </div>
        <div class="chartRight">
            <canvas id="top-customers-chart"></canvas>
        </div>
    </div>
</div>

</body>
</html>