body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.header1 {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(10, 25, 56);
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    color: #d5d9de;
}

.header1 p {
    margin: 0;
}

.header1 .phone,
.header1 .address {
    flex: 1;
}

.header1 .phone {
    text-align: left;
    margin-left: 150px;
}

.header1 .address {
    text-align: right;
    margin-right: 150px;
}

.header1 .center {
    flex: 2;
    text-align: center;
    opacity: 0;
    color: gold;
    transition: opacity 1s ease-in-out;
}
.header1 .visible {
    opacity: 1;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 0.5px solid #ddd;
    flex-direction: column;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;

}

.icons {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 17px;
    margin-right: 80px;
    font-size: 20px;
}

.header>.header-content>.logo img {
    width: 120px;
    height: auto;
}

#main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: white;
    height: 40px;
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    gap: 50px;
    z-index: 1000;
    position: relative;
    text-transform: uppercase;
}

#main-menu li {
    margin: 0;
    padding: 0;
    position: relative;
}

#main-menu li a {
    color: #040711;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

#main-menu ul.sub-menu {
    position: absolute;
    background: #f4f4f4;
    padding: 0;
    list-style: none;
    width: 300px;
    display: none;
    top: 80%;
    left: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-menu li:hover > ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a {
    padding: 12px 20px;
    left: 0;
}

#main-menu ul.sub-menu li:hover > a {
    background-color: #e1e4eb;
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

#main-menu ul.sub-menu ul.sub-menu {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    left: 300px;
    top: 0;
}

#main-menu > li > a {
    position: relative;
}

#main-menu > li > a:hover {
    color: rgb(70, 118, 168);
}

#main-menu .sub-menu > li > a:hover {
    color:   rgb(70, 118, 168);
}

#main-menu > li:hover > a::before {
    width: 100%;
}

#main-menu > li.has-child::after {
    color: #040711;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    content: "\f107";
}

#main-menu .sub-menu > li.has-child::after {
    content: "\f105";
    color: #040711;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
.container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.left-column {
    width: 30%;
    padding-right: 10px;
    margin-top: 11%;
    margin-left: 10%;
}

.middle-column {
    width: 30%;
    text-align: center;
}

.middle-column img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 6%;
    width: 400px;
    height: 400px;
    margin-top: 22%;
    margin-left: -30%;
}

.right-column {
    width: 30%;
    padding-left: 10px;
    margin-top: 7%;
}

.right-column h3 {
    font-size: 1.5em;
    margin: 20px 0 10px;
}

.quality-section {
    text-align: center;
    margin-top: 160px;
}

.quality-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.quality-features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature-item {
    width: 30%;
    text-align: center;
}

.feature-item .icon {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.feature-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 1em;
    color: #555;
}

/* review */
.main-container {
    margin-top: 90px;
}

.row {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.column {
    flex: 1;
    box-sizing: border-box;
    text-align: center;
    padding: -500px;
}

.img-container {
    overflow: hidden;
    flex-basis: 100%;
}

.img-container img {
    width:410px;
    height: 500px;
    transition: transform 0.3s ease-in-out;

}

.img-container img:hover {
    transform: scale(1.1);
}

.reviews {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 100px;
}

.reviews-wrapper {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 100%;
    gap: 15px;
    margin-left: 10px;

}

.review-item {
    min-width: calc(33.333% - 15px);
    box-sizing: border-box;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 8px;
}


button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 18px;
    transform: translateY(-50%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@media (max-width: 768px) {
    .reviews {
        width: 95%;
    }
}

.search-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: -33.33%;
    width: 100%;
    height: 33.33%;
    background-color: rgba(99, 95, 95, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transition: top 0.5s ease;
}

.search-overlay.active {
    top: 0;
}

.search-box {
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-box input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 90px;
    position: absolute;
    top: 50%;
}

.search-box button:hover {
    background-color: #444;
}

/* The cart box */
.cart-box {
    height: 100%;
    width: 25%;
    margin-left: 75%;
    background-color: white;
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    right: -100%;
    z-index: 1000;
    transition: right 0.5s ease;
    color: rgb(0, 0, 0);
}

.cart-box.active {
    right: 0;
}

.cart-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.cart-box p {
    font-size: 18px;
    text-align: center;
    margin-bottom: auto;
}

.cart-box button {
    padding: 15px;
    font-size: 18px;
    background-color: rgb(166, 168, 174);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    width: 70%;
    margin-left: 70px;
    position: absolute;
    top: 50%;
}

.cart-box button:hover {
    background-color: #ddd;
}

/* */
.cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cart-overlay.active {
    display: block;
    opacity: 1;
}
