body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.header1 {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(10, 25, 56);
    border-bottom: 1px solid #ddd;
    justify-content: space-between;
    color: #d5d9de;
}

.header1 p {
    margin: 0;
}

.header1 .phone,
.header1 .address {
    flex: 1;
}

.header1 .phone {
    text-align: left;
    margin-left: 150px;
}

.header1 .address {
    text-align: right;
    margin-right: 150px;
}

.header1 .center {
    flex: 2;
    text-align: center;
    opacity: 0;
    color: gold;
    transition: opacity 1s ease-in-out;
}
.header1 .visible {
    opacity: 1;
}

.header {
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 0.5px solid #ddd;
    flex-direction: column;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;

}

.icons {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 17px;
    margin-right: 80px;
    font-size: 20px;
}

.header>.header-content>.logo img {
    width: 120px;
    height: auto;
}

#main-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: white;
    height: 40px;
    display: inline-flex;
    width: 100%;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center; /* Căn giữa theo chiều ngang */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    gap: 50px;
    z-index: 1000;
    position: relative;
    text-transform: uppercase;
}

#main-menu li {
    margin: 0;
    padding: 0;
    position: relative;
}

#main-menu li a {
    color: #040711;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

#main-menu ul.sub-menu {
    position: absolute;
    background: #f4f4f4;
    padding: 0;
    list-style: none;
    width: 300px;
    display: none;
    top: 80%;
    left: 0;
    margin: 0;
    box-sizing: border-box;
}

#main-menu li:hover > ul.sub-menu {
    display: block;
}

#main-menu ul.sub-menu a {
    padding: 12px 20px;
    /* border-bottom: 1px solid #94968f; */
    left: 0;
}

#main-menu ul.sub-menu li:hover > a {
    background-color: #e1e4eb;
}

#main-menu ul.sub-menu li:last-child a {
    border: none;
}

#main-menu ul.sub-menu ul.sub-menu {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    left: 300px;
    top: 0;
}

/* Thiết lập border khi hover */
#main-menu > li > a {
    position: relative;
}

#main-menu > li > a:hover {
    color: rgb(70, 118, 168);
}

#main-menu .sub-menu > li > a:hover {
    color:   rgb(70, 118, 168);
}

#main-menu > li:hover > a::before {
    width: 100%;
}

#main-menu > li.has-child::after {
    color: #040711;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    content: "\f107";
}

#main-menu .sub-menu > li.has-child::after {
    content: "\f105";
    color: #040711;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

/**/
/* Begin update code for search and cart */
.search-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: -33.33%;
    width: 100%;
    height: 33.33%;
    background-color: rgba(99, 95, 95, 0.9);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    transition: top 0.5s ease;
}

.search-overlay.active {
    top: 0;
}

/* The search box */
.search-box {
    width: 50%;
    background: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-box input[type="text"] {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-box button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 90px;
    position: absolute;
    top: 40%;
}

.search-box button:hover {
    background-color: #444;
}

/* The cart box */
.cart-box {
    height: 100%;
    width: 25%;
    margin-left: 75%;
    background-color: white;  /* Đổi màu cho background của cart */
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    right: -100%;
    z-index: 1000;
    transition: right 0.5s ease;
    color: rgb(0, 0, 0);
}

.cart-box.active {
    right: 0;
}

.cart-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.cart-box p {
    font-size: 18px;
    text-align: center;
    margin-bottom: auto;
}

.cart-box button {
    padding: 15px;
    font-size: 18px;
    background-color: rgb(166, 168, 174);
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    width: 70%;
    margin-left: 70px;
    position: absolute;
    top: 50%;
}

.cart-box button:hover {
    background-color: #ddd;
}

/* */
.cart-overlay {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cart-overlay.active {
    display: block;
    opacity: 1;
}


/**/
/*select*/
.category-select {
    display: inline-block;
    position: relative;
    margin-left: 31%;
    margin-top: 60px;
}

.category-select select {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}
.category-select select:focus {
    outline: none;
    border-color: #aaa;
}
/*  */

.list-price{
    display: inline-block;
    position: relative;
    margin-left: 50%;
    top: -100px;
}

.list-price select{
    width: 100%;
    height: 40px;
    padding: 0 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.list-price select:focus {
    outline: none;
    border-color: #aaa;
}

/*select*/
/**/
.wrapper {
    position: relative;
    text-align: left;
    margin-top: 45px;
    z-index: 1;
}

.headline img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: block;
}

.overlay-text {
    position: absolute;
    top: 60%;
    left: 12%;
    transform: translateY(-50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.overlay-text h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.overlay-text h4 {
    font-size: 1.2rem;
    font-weight: normal;
}

#body1{
    max-width: 1170px;
    margin: 0 auto;

}
.body-text{
    text-align: center;
    margin: 40px 0;
}
.body-text>h2{
    font-size: 18px;
    padding: 10px 20px;
    text-transform: uppercase;
    border-bottom: 2px solid #000 ;
    display: inline-block;
}
ul.products{
    list-style: none;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
ul.products li{
    flex-basis: 33%;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px;
}
u.products li img {
    max-width: 100%;
    height: auto;
}
ul.products li .product-item{
    text-align: center;
}
ul.products li .product-info{
    display: flex;
    flex-direction:column;
    align-items: center;
}
ul.products li .product-top{
    display: block;
    position: relative;
    overflow: hidden;


}
ul.products li:hover a.buy-now{
    bottom: 30px;
}
ul.products li .product-top .product-thumb{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.products li .product-top .product-thumb img{
    display: block;

}

ul.products li .product-top a.buy-now{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    color:#000000;
    padding: 10px 0;
    position: absolute;
    left: 30%;
    opacity: 0.75;
    border:1px solid #373737;
    border-radius: 20px;
    width: 40%;
    font-size: 13px;
}
ul.products li a.buy-now:hover {
    background-color: rgb(52, 52, 51);
    color:#ffffff
}
ul.products li .product-info a{
    display: block;
    text-decoration: none;

}
ul.products li .product-info a.product-cart{
    text-transform: uppercase;
    color: rgb(0, 71, 0);
    font-size: 14px;
    padding: 3px 0px;

}
ul.products li .product-info a.product-name{
    padding: 3px 0px;
    color:#000;
}
ul.products li .product-info .list-price{
    margin-top: 5px;
    display: flex;
    gap: 30px;
}

/**/
.footer {
    background-color: #1A1919;
    color: #d3cece;
    padding: 20px 0;
    margin-top: 60px;
    font-family: Arial, sans-serif;
    width: 100%;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
}

.grid_row {
    display: flex;
    justify-content: space-between;
}

.grid__column-2-4 {
    width: 30%;
}

.footer-heading {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.footer__list {
    list-style: none;
    padding: 0;
}

.footer__list li {
    margin-bottom: 10px;
}

.footer__list a {
    color: #d3cece;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.footer__list a:hover {
    text-decoration: underline;
}


form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

form input[type="text"] {
    padding: 8px ;
    width: 70%;
    margin-right: 10px;
    background-color: #dbdbdb;
    border: 1px solid #ffffff;
    color: #000000;
    box-sizing: border-box;
}

form input[type="text"]::placeholder {
    color: #000000;
    opacity: 1;
}

form input[type="submit"] {
    background-color: #888;
    color: #000;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    text-transform: uppercase;
    flex-shrink: 0;
}

form input[type="submit"]:hover {
    background-color: #cfb0b0;
}


/* hover */
.card {
    width: 200px;
    height: 195px;
    background-size: cover;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; /* Ẩn ảnh gốc, hiện ảnh hover */
    transition: opacity 0.7s ease;
}

.card img:first-child {
    opacity: 1; /* ban đầu */
}

.card img:last-child {
    opacity: 0; /* ẩn ban đầu */
}


.card:hover img:first-child {
    opacity: 0; /* Ẩn hình ảnh đầu tiên khi hover */
}

.card:hover img:last-child {
    opacity: 1; /* Hiện hình ảnh thứ hai khi hover */
}