/*body {*/
/*    font-family: Arial, sans-serif;*/
/*    background-color: #f4f4f4;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 100vh;*/
/*}*/

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.logo img {
    width: 100px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #000;
    margin-bottom: 10px;
}

p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 0;
}

strong {
    color: #000;
}

.order-info {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 5px;
    text-align: left;
    margin: 20px 0;
}

.order-info h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.order-info p {
    margin: 5px 0;
}

button {
    background-color: #002b7f;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #001f5b;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.content {
    padding: 20px;
}

.button-link {
    display: inline-block;
    background-color: #002b7f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
}

.button-link:hover {
    background-color: #001f5b;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 180px;
    height: auto;
}
