<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Về chúng tôi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/about_us.css">
</head>

<body>
<script src="/static/js/header.js"></script>
<script src="/static/js/footer.js"></script>
<script src="/static/js/url.js"></script>

<div class="container">
    <div class="left-column">
        <h2>Câu chuyện<br />
            Thương hiệu</h2>
        <p>Chú trọng đến cả những điều nhỏ nhặt - là <br>
            quan điểm làm nghề của chúng tôi, <br>
            từ đó tạo ra những sản phẩm chất lượng. <br>
            Chúng tôi ưu tiên sự tối giản và tinh tế <br>
            trong những sản phẩm của mình.</p>
    </div>
    <div class="middle-column">
        <img src="/static/images/1.jpg" alt="Kinh nghiệm chọn nhẫn kim cương">
    </div>
    <div class="right-column">
        <h3>Tin tưởng</h3>
        <p>GOLDIONUES hiểu rõ doanh nghiệp, <br />
            lựa chọn và tuân thủ những nguyên tắc, <br />
            những chuẩn mực đạo đức trong cuộc sống <br />
            để trở nên đáng tin với khách hàng, đối tác và xã hội.</p>
        <br />
        <br />
        <br>
        <br>
        <h3>Tầm nhìn</h3>
        <p>Trở thành công ty chuyên gia tại Việt Nam <br />
            trong lĩnh vực kim cương, mang đến sản phẩm kim cương <br />
            chất lượng cùng thiết kế trang sức sáng tạo <br />
            tôn vinh vẻ đẹp, vươn tầm thế giới.</p>
    </div>
</div>

<!-- body -->
<div class="quality-section">
    <h2>Sản phẩm chất lượng</h2>
    <div class="quality-features">
        <div class="feature-item">
            <div class="icon">1</div>
            <h3>Đa dạng chủng loại</h3>
            <p>Chúng tôi cung cấp các sản phẩm với nhiều loại chất liệu, đa dạng kích cỡ, phù hợp với mọi khách
                hàng.</p>
        </div>
        <div class="feature-item">
            <div class="icon">2</div>
            <h3>Thiết kế vượt thời đại</h3>
            <p>Các thiết kế được trau chuốt tỉ mỉ và lên kế hoạch ra mắt theo từng thời điểm phù hợp.</p>
        </div>

        <div class="feature-item">
            <div class="icon">3</div>
            <h3>Khách hàng hài lòng</h3>
            <p>Hơn 98% khách hàng quay lại cửa hàng sau khi đã trải nghiệm các sản phẩm của chúng tôi.</p>
        </div>
    </div>
</div>

<!-- section 2: review -->
<section class="main-container">
    <div class="row">
        <div class="column">
            <div class="img-container" style="padding-bottom: 50px;">
                <img src="/static/images/home-1.jpg" alt="Trang Sức Năng Động">
            </div>
            <h3>TRANG SỨC<br> NĂNG ĐỘNG</h3>
            <p>Dễ dàng kết hợp trong trang phục<br> ngày thường và với nhiều sự kiện khác nhau.</p>
        </div>
        <div class="column">
            <div class="img-container" style="padding-bottom: 50px;">
                <img src="/static/images/home-2.jpg" alt="Trang Sức Tinh Tế">
            </div>
            <h3>TRANG SỨC<br> TINH TẾ</h3>
            <p>Kết hợp giữa sự thanh lịch và<br> sự sáng tạo trong mỗi sản phẩm.</p>
        </div>
        <div class="column">
            <div class="img-container" style="padding-bottom: 50px;">
                <img src="/static/images/home-3.jpg" alt="Trang Sức Cao Cấp">
            </div>
            <h3>TRANG SỨC<br> CAO CẤP</h3>
            <p>Sản phẩm với chất lượng tốt nhất và thiết kế độc quyền.</p>
        </div>
    </div>
</section>
</body>
</html>
