<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liên hệ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/contact.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/header.css">

</head>

<body>
<script src="/static/js/header.js"></script>
<script src="/static/js/url.js"></script>

<div class="wrapper">
    <div class="headline">
        <img src="/static/images/lienhe1.png" alt="">
    </div>
</div>

<div class="contact-container">
    <div class="contact-form">
        <h3>Liên hệ với chúng tôi</h3>
        <form>
            <div class="form-group">
                <input type="text" placeholder="Họ Tên (*)">
                <input type="text" placeholder="Số Điện Thoại (*)">
            </div>
            <div class="form-group">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Tiêu Đề">
            </div>
            <div class="form-group">
                <textarea placeholder="Nội Dung"></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Gửi</button>
            </div>
        </form>
    </div>
    <div class="contact-info">
        <h3>Thông tin liên hệ</h3>
        <div class="top">
            <p>
                <i class="fas fa-map-marker-alt"></i>
                714 - 716 Trần Hưng Đạo, Phường 2,<br> Quận 5, Thành phố Hồ Chí Minh
            </p>
            <p>
                <i class="fas fa-comments"></i> Zalo: 0932299999
            </p>

        </div>
        <div class="last">
            <p>
                <i class="fas fa-phone-alt"></i> Hotline: 0932 02 9999<br>
                <i class="fas fa-phone-alt"></i> Hotline: 0938 87 6789
            </p>
            <p>
                <i class="fas fa-envelope"></i> goldiones@gmail.com
            </p>

        </div>
    </div>
</div>

<div class="map-container">
    <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.490032099084!2d106.69015327609835!3d10.778204759390166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fdd4cf1c943%3A0xb943e2a1b3d70e49!2sJemmia%20Diamond!5e0!3m2!1sen!2s!4v1690000000000!5m2!1sen!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<script src="/static/js/User/contact.js"></script>
<script src="/static/js/footer.js"></script>
</body>

</html>