<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/detail.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
<script src="/static/js/header.js"></script>
<script src="/static/js/footer.js"></script>
<script src="/static/js/url.js"></script>
<script src="/static/js/User/detail.js"></script>
<div class="product-container" style="justify-content: center">
    <div class="image-section">
        <img src="#" alt="Diamond Ring" id = "img">
        <img src="#" alt="Diamond Ring" id = "imgsub">

    </div>
    <div class="details-section">
        <h2 id = "product_name"></h2>
        <p class="code">WRA00198</p>
        <div class="size-buttons">

            <!-- Các nút cho kích thước -->
            <!-- Thêm các nút khác nếu cần -->
        </div>
        <p class="price">
            <span class="current-price"></span>
        </p>
        <div class="buttons">
            <button class="send-message" id = "add-to-cart">THÊM VÀO GIỎ HÀNG</button>
            <button class="store-location">LIÊN HỆ</button>
        </div>
        <div class="info-section">
            <details>
                <summary>THÔNG TIN THƯƠNG HIỆU VÀ SẢN PHẨM</summary>
                <p>JEMMIA

                    Đáp ứng được đa dạng nhu cầu của những người chơi kim cương, từ cơ bản đến dân chơi điệu
                    nghệ,Jemmia mang tới một trải nghiệm hoàn toàn mới lạ trong hành trình tìm kiếm viên kim
                    cương
                    ưng
                    ý của khách hàng. Với Jemmia, sở hữu kim cương không chỉ dừng lại ở việc bạn đủ điều kiện
                    mua
                    chúng, mà còn là sự am hiểu cặn kẽ để bạn nhận biết toàn bộ giá trị của viên kim cương mình
                    đang
                    cầm trong tay.
                    <br>
                    Jemmia khẳng định rằng: “Kim cương không chỉ là trang sức mà còn là tài sản”, một loại tài
                    sản
                    giúp bạn bảo vệ số tiền trong túi bạn một cách an toàn và bền vững, đôi khi còn mang đến lợi
                    nhuận dành cho bạn nếu bạn đủ kiến thức để bắt được những cơ hội tốt.
                    <br>
                    Để nâng tầm vẻ đẹp viên kim cương bạn đang sở hữu và giúp bạn tận dụng hết các giá trị của
                    chúng, Jemmia dành cho bạn hàng ngàn lựa chọn đa dạng về các mẫu trang sức kim cương từ
                    nhẫn,
                    vòng tay, bông tai, vòng cổ… thích hợp cho nhiều đối tượng khác nhau. Trang sức kim cương
                    tại
                    Jemmia được thiết kế và gia công bởi chính đội ngũ dày dặn kinh nghiệm gồm những nghệ nhân
                    kim
                    hoàn lành nghề, những nhà thiết kế hiện đại và sáng tạo… để cho ra đời những tuyệt tác kim
                    cương
                    đưa đến tay khách hàng.
                </p>
            </details>
            <details>
                <summary>CHI TIẾT SẢN PHẨM</summary>
                <table>
                    <tr>
                        <td>Thương hiệu</td>
                        <td>Jemmia</td>
                    </tr>
                    <tr>
                        <td>Loại sản phẩm</td>
                        <td id = "category">Nhẫn</td>
                    </tr>
                    <tr>
                        <td>Bảo Hành( Tháng)</td>
                        <td id = "warranty"> </td>
                    </tr>
                    <tr>
                        <td>Tồn Kho</td>
                        <td id = "inventory"></td>
                    </tr>
                    <tr>
                        <td>Giá gia công</td>
                        <td id = "labor"></td>
                    </tr>
                    <tr>
                        <td>Vỏ Kim Cương</td>
                        <td id = "setiing"></td>
                    </tr>
                </table>
            </details>
        </div>
    </div>
</div>
<hr>
<div class="commitment-container">
    <div class="commitment">
        <h3><img src="commitment-icon.png" alt=""> CAM KẾT CHẤT LƯỢNG</h3>
        <ul>
            <li>✔ Tất cả trang sức hoàn toàn chuẩn xác về hàm lượng và trọng lượng vàng, được kiểm định chặt chẽ
                bằng máy quang phổ.</li>
            <li>✔ 100% Trang sức kim cương đều có chứng nhận đạt tiêu chuẩn GIA.</li>
            <li>✔ Toàn bộ sản phẩm trang sức tại Jemmia có đầy đủ hóa đơn, chứng từ chứng minh nguồn gốc xuất xứ
                và
                đầy đủ thông tin về hàm lượng, trọng lượng vàng.</li>
            <li>✔ Toàn bộ sản phẩm trang sức tại Jemmia có đầy đủ hóa đơn, chứng từ chứng minh nguồn gốc xuất xứ
                và
                đầy đủ thông tin về hàm lượng, trọng lượng vàng.</li>
        </ul>
    </div>
    <div class="purchase-guide">
        <h3><img src="guide-icon.png" alt=""> HƯỚNG DẪN MUA HÀNG</h3>
        <ul>
            <li>✔ <strong>Cách 1:</strong> Quý khách vui lòng bấm vào nút “gửi tin nhắn” hoặc liên hệ qua
                Hotline
                0838.353.333, gặp trực tiếp chuyên gia chăm sóc khách hàng để được tư vấn và đặt mua sản phẩm.
            </li>
            <li>✔ <strong>Cách 2:</strong> Quý khách hãy bấm vào nút “tìm cửa hàng”, chọn cửa hàng Jemmia gần
                nhất
                để đến trực tiếp chọn sản phẩm và mua hàng.</li>
        </ul>
    </div>
</div>

<div class="faq-section">
    <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);" class="faq-item">
        <details open>
            <summary>Vì sao nên chọn Goldiounes?</summary>
            <div class="faq-content">
                <h4>Trang Sức Kim Cương Tại Goldiounes</h4>
                <ul>
                    <li>Trang Sức Đa Dạng Mẫu Mã, Thiết Kế Theo Cá Nhân Hoá.</li>
                    <li>Trang Thiết Bị Công Nghệ Kiểm Định Hiện Đại Nhất.</li>
                    <li>Trải Nghiệm Dịch Vụ Kim Cương Đẳng Cấp.</li>
                </ul>
                <h4>Kim Cương Viên Tại Goldiounes</h4>
                <ul>
                    <li>Có giấy Kiểm Định GIA</li>
                    <li>Có xuất Hoá Đơn VAT</li>
                    <li>Nhập Khẩu Hải Quan Chính Ngạch</li>
                </ul>
            </div>
        </details>
    </div>
    <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);" class="faq-item">
        <details>
            <summary>Dịch vụ sau mua</summary>
            <div class="faq-content">
                <p>Nội dung về dịch vụ sau mua của Goldiounes.</p>
            </div>
        </details>
    </div>
    <div style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);" class="faq-item">
        <details>
            <summary>Câu hỏi thường gặp</summary>
            <div class="faq-content">
                <p>Nội dung về các câu hỏi thường gặp.</p>
            </div>
        </details>
    </div>
</div>

<!--<div class="related-products">-->
<!--    <h2>Những Sản Phẩm Liên Quan</h2>-->
<!--    <div class="product-list">-->
<!--        <div class="product-item">-->
<!--            <div class="product-image">-->
<!--                <img src="../images/bong11.png" alt="Nhẫn Kim Cương Nữ 18K">-->
<!--                <div class="sale-badge">Giảm giá!</div>-->
<!--            </div>-->
<!--            <div class="product-info">-->
<!--                <p class="product-code">VNF2021062050</p>-->
<!--                <p class="product-name">NHẪN KIM CƯƠNG NỮ 18K</p>-->
<!--                <p class="product-price">-->
<!--                    <span class="old-price">41.580.000 ₫</span>-->
<!--                    <span class="new-price">34.927.200 ₫</span>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="product-item">-->
<!--            <div class="product-image">-->
<!--                <img src="ring2.png" alt="Nhẫn Kim Cương Nữ 18K">-->
<!--                <div class="sale-badge">Giảm giá!</div>-->
<!--            </div>-->
<!--            <div class="product-info">-->
<!--                <p class="product-code">VNF2021062073</p>-->
<!--                <p class="product-name">NHẪN KIM CƯƠNG NỮ 18K</p>-->
<!--                <p class="product-price">-->
<!--                    <span class="old-price">48.150.000 ₫</span>-->
<!--                    <span class="new-price">40.446.000 ₫</span>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="product-item">-->
<!--            <div class="product-image">-->
<!--                <img src="ring3.png" alt="Nhẫn Kim Cương Nữ 18K">-->
<!--                <div class="sale-badge">Giảm giá!</div>-->
<!--            </div>-->
<!--            <div class="product-info">-->
<!--                <p class="product-code">NF2021051842</p>-->
<!--                <p class="product-name">NHẪN KIM CƯƠNG NỮ 18K</p>-->
<!--                <p class="product-price">-->
<!--                    <span class="old-price">71.620.000 ₫</span>-->
<!--                    <span class="new-price">60.160.800 ₫</span>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="product-item">-->
<!--            <div class="product-image">-->
<!--                <img src="ring4.png" alt="Nhẫn Kim Cương Nữ 18K">-->
<!--                <div class="sale-badge">Giảm giá!</div>-->
<!--            </div>-->
<!--            <div class="product-info">-->
<!--                <p class="product-code">VNF2021062059</p>-->
<!--                <p class="product-name">NHẪN KIM CƯƠNG NỮ 18K</p>-->
<!--                <p class="product-price">-->
<!--                    <span class="old-price">29.040.000 ₫</span>-->
<!--                    <span class="new-price">24.393.600 ₫</span>-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
</body>

</html>