<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bông tai kim cương</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/diamond_earrings.css">
</head>

<body>
<div class="header1">
    <p class="phone">Phone: (+84) 123 2345 123</p>
    <p class="center" id="center-text">hello</p>
    <p class="address">Liên hệ </p>
</div>
<div class="header">
    <div class="header-content">
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="login.html"><i style="color: black;" class="fa-regular fa-user"></i></a>
            <i class="fa-regular fa-heart"></i>
            <a href="./haha.html"><i style="color: black;" class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <a href="home.html" class="logo"><img src="/static/images/logo.jpg" alt="logo"></a>
    </div>
</div>
<ul id="main-menu">
    <li><a href="about_us.html">VỀ CHÚNG TÔI </a></li>
    <li><a href="">TRANG SỨC KIM CƯƠNG </a>
        <ul class="sub-menu">
            <li class="has-child"><a href="">NHẪN KIM CƯƠNG</a>
                <ul class="sub-menu">
                    <li><a href="men's_diamond.html">NHẪN KIM CƯƠNG NAM</a></li>
                    <li><a href="female_diamond.html">NHẪN KIM CƯƠNG NỮ</a></li>
                </ul>
            </li>
            <li><a href="diamond_earrings.html">BÔNG TAI KIM CƯƠNG</a></li>
            <li><a href="diamond_bracelets.html">LẮC/VÒNG TAY KIM CƯƠNG</a></li>
            <li><a href="diamond_pendant.html">MẶT DÂY CHUYỀN KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="">BẢNG GIÁ</a>
        <ul class="sub-menu">
            <li><a href="list_price.html">BẢNG GIÁ KIM CƯƠNG VIÊN</a></li>
            <li><a href="">BẢNG GIÁ VỎ KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="promotion.html">KHUYẾN MÃI</a></li>
    <li><a href="news.html">TIN TỨC</a></li>
    <li><a href="contact.html">LIÊN HỆ</a></li>
</ul>



<div class="wrapper">
    <div class="headline">
        <img src="/static/images/BONG-TAI-KIM-CUONG-TU-NHIEN-qq4mgmpaqjy48hcpoo7337qzhz8cify49svp07fsz4%201.png" alt="">
    </div>
</div>


<div id="body1">
    <div class="body-top">
        <div class="body-text">
            <h2>Bông tai kim cương</h2>
        </div>
    </div>

    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/bong1.png" alt="font">
                            <img src="/static/images/bong11.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">BÔNG TAI KIM CƯƠNG 18K </a>
                    <a href="" class="product-cart">01274BT </a>
                    <div class="product-price">
                        <del>12.450.000 ₫</del> 8.538.000 ₫
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/bong2.png" alt="font">
                            <img src="/static/images/bong22.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">BÔNG TAI KIM CƯƠNG 18K </a>
                    <a href="" class="product-cart">VBT2021061972 </a>
                    <div class="product-price">
                        <del>13.047.059 ₫ </del>9.239.530 ₫
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/bong3.png" alt="font">
                            <img src="/static/images/bong33.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">BÔNG TAI KIM CƯƠNG 18K </a>
                    <a href="" class="product-cart">QB1732 </a>
                    <div class="product-price">
                        <del>11.690.000 ₫ </del> 7.259.600 ₫
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/bong4.png" alt="font">
                            <img src="/static/images/bong44.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">BÔNG TAI KIM CƯƠNG 18K </a>
                    <a href="" class="product-cart">ERA00120 </a>
                    <div class="product-price">
                        <del>45.300.000 ₫ </del> 38.052.000 ₫
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/bong5.png" alt="font">
                            <img src="/static/images/bong55.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">BÔNG TAI KIM CƯƠNG 18K </a>
                    <a href="" class="product-cart">ERA00118</a>
                    <div class="product-price">
                        <del>32.480.000 ₫ </del>  27.283.200 ₫
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/bong6.png" alt="font">
                            <img src="/static/images/bong66.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">BÔNG TAI KIM CƯƠNG 18K </a>
                    <a href="" class="product-cart">01149BT</a>
                    <div class="product-price">
                        <del>25.865.000 ₫ </del> 21.726.600 ₫
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/bong7.png" alt="font">
                            <img src="/static/images/bong77.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">BÔNG TAI KIM CƯƠNG 18K </a>
                    <a href="" class="product-cart">VBT2023043220</a>
                    <div class="product-price">
                        <del>66.260.000 ₫ </del> 55.658.400 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/bong8.png" alt="font">
                            <img src="/static/images/bong88.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">BÔNG TAI KIM CƯƠNG 18K </a>
                    <a href="" class="product-cart">02216BT</a>
                    <div class="product-price">
                        <del>9.970.000 ₫ </del> 8.374.800 ₫
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/bong9.png" alt="font">
                            <img src="/static/images/bong99.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">BÔNG TAI KIM CƯƠNG 18K </a>
                    <a href="" class="product-cart">VBT2021062037</a>
                    <div class="product-price">
                        <del>65.478.706 ₫ </del> 55.002.113 ₫
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<footer class="footer">
    <div class="grid">
        <div class="grid_row">
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Danh mục</h3>
                <ul class="footer__list">
                    <li>
                        <a href="../html/BongTai.html">Bông tai kim cương</a>
                        <a href="../html/LacVong.html">Lắc tay kim cương</a>
                        <a href="">Nhẫn kim cương</a>
                        <a href="">Dây chuyền kim cương</a>
                        <a href="../html/MatDay.html">Mặt dây chuyền kim cương</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Liên hệ </h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Về chúng tôi</a>
                        <a href="">Tuyển dụng</a>
                        <a href="">Chính sách đổi trả</a>
                        <a href="">Chính sách bảo hành</a>
                        <a href="">Chính sách vận chuyển</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Đăng ký ngay</h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Để nhận được các tin tức thời trang mới nhất cùng với ưu đãi khuyến mãi.</a>
                        <form action="">
                            <input type="text" id="email" name="email" placeholder="Email">
                            <input type="submit" value="ĐĂNG KÝ NGAY">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/static/js/User/about_us.js"></script>

</body>
</html>