<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vòng tay kim cương</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/diamond_bracelets.css">
</head>

<body>
<div class="header1">
    <p class="phone">Phone: (+84) 123 2345 123</p>
    <p class="center" id="center-text">hello</p>
    <p class="address">Liên hệ </p>
</div>
<div class="header">
    <div class="header-content">
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="login.html"><i style="color: black;" class="fa-regular fa-user"></i></a>
            <i class="fa-regular fa-heart"></i>
            <a href="cart.html"><i style="color: black;" class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <a href="home.html" class="logo"><img src="/static/images/logo.jpg" alt="logo"></a>
    </div>
</div>
<ul id="main-menu">
    <li><a href="about_us.html">VỀ CHÚNG TÔI </a></li>
    <li><a href="">TRANG SỨC KIM CƯƠNG </a>
        <ul class="sub-menu">
            <li class="has-child"><a href="">NHẪN KIM CƯƠNG</a>
                <ul class="sub-menu">
                    <li><a href="men's_diamond.html">NHẪN KIM CƯƠNG NAM</a></li>
                    <li><a href="female_diamond.html">NHẪN KIM CƯƠNG NỮ</a></li>
                </ul>
            </li>
            <li><a href="diamond_earrings.html">BÔNG TAI KIM CƯƠNG</a></li>
            <li><a href="diamond_bracelets.html">LẮC/VÒNG TAY KIM CƯƠNG</a></li>
            <li><a href="diamond_pendant.html">MẶT DÂY CHUYỀN KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="">BẢNG GIÁ</a>
        <ul class="sub-menu">
            <li><a href="list_price.html">BẢNG GIÁ KIM CƯƠNG VIÊN</a></li>
            <li><a href="">BẢNG GIÁ VỎ KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="promotion.html">KHUYẾN MÃI</a></li>
    <li><a href="news.html">TIN TỨC</a></li>
    <li><a href="contact.html">LIÊN HỆ</a></li>
</ul>

<!---->

<div class="wrapper">
    <div class="headline">
        <div class="overlay-text">
            <h2>Nhẫn Kim Cương Nam -<br> Nhẫn Bạch Kim, Vàng 18k, 14k</h2>
            <h4>Bộ sưu tập nhẫn Kim Cương Nam, Bạch Kim,<br> Vàng 18k, 14k mới nhất 2024</h4>
        </div>
        <img src="/static/images/CAT-Men-1-scaled-1.png" alt="">
    </div>
</div>

<div id="body1">
    <div class="body-top">
        <div class="body-text">
            <h2>Lắc/Vòng tay kim cương</h2>
        </div>
    </div>

    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong1.png" alt="font">
                            <img src="/static/images/vong11.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>

                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022082803 </a>
                    <div class="product-price">
                        <del>10.530.000 đ</del> 8.245.200 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong2.png" alt="font">
                            <img src="/static/images/vong22.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022082799 </a>
                    <div class="product-price">
                        <del>13.100.000 đ </del> 8.004.000 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong3.png" alt="font">
                            <img src="/static/images/vong33.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022112971 </a>
                    <div class="product-price">
                        <del>12.740.000 đ </del> 9.781.600 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong4.png" alt="font">
                            <img src="/static/images/vong44.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2023013065 </a>
                    <div class="product-price">
                        <del>69.570.000 đ </del> 58.438.800 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong5.png" alt="font">
                            <img src="/static/images/vong55.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022123026</a>
                    <div class="product-price">
                        <del>73.020.000 đ </del> 61.336.800 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong6.png" alt="font">
                            <img src="/static/images/vong66.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2021062085</a>
                    <div class="product-price">
                        <del>90.729.412 đ </del> 76.212.706 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong7.png" alt="font">
                            <img src="/static/images/vong77.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2021062040</a>
                    <div class="product-price">
                        <del>135.505.882 đ </del> 113.824.941 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong8.png" alt="font">
                            <img src="/static/images/vong88.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2021062081</a>
                    <div class="product-price">
                        <del>57.564.706 đ </del> 48.354.353 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong9.png" alt="font">
                            <img src="/static/images/vong99.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2021062088</a>
                    <div class="product-price">
                        <del>71.458.824 đ </del> 60.025.412 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong10.1.png" alt="font">
                            <img src="/static/images/vong10.2.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022082798</a>
                    <div class="product-price">
                        <del>170.210.000 đ </del> 142.976.400 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong11.1.png" alt="font">
                            <img src="/static/images/vong11.2.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022082802</a>
                    <div class="product-price">
                        <del>132.590.000 đ </del> 111.375.600 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/vong12.1.png" alt="font">
                            <img src="/static/images/vong12.2.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022082800</a>
                    <div class="product-price">
                        <del>161.150.000 đ </del>135.366.000 đ
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<footer class="footer">
    <div class="grid">
        <div class="grid_row">
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Danh mục</h3>
                <ul class="footer__list">
                    <li>
                        <a href="../html/BongTai.html">Bông tai kim cương</a>
                        <a href="../html/LacVong.html">Lắc tay kim cương</a>
                        <a href="">Nhẫn kim cương</a>
                        <a href="">Dây chuyền kim cương</a>
                        <a href="../html/MatDay.html">Mặt dây chuyền kim cương</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Liên hệ </h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Về chúng tôi</a>
                        <a href="">Tuyển dụng</a>
                        <a href="">Chính sách đổi trả</a>
                        <a href="">Chính sách bảo hành</a>
                        <a href="">Chính sách vận chuyển</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Đăng ký ngay</h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Để nhận được các tin tức thời trang mới nhất cùng với ưu đãi khuyến mãi.</a>
                        <form action="">
                            <input type="text" id="email" name="email" placeholder="Email">
                            <input type="submit" value="ĐĂNG KÝ NGAY">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/static/js/User/about_us.js"></script>

</body>
</html>