<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/news.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
<script src="/static/js/header.js"></script>
<script src="/static/js/footer.js"></script>
<script src="/static/js/url.js"></script>
<script src="/static/js/User/blog.js"></script>

<div class="container">
    <div class="main-banner" id="main-banner">
        <!-- Blog data for the first blog will be injected here -->
    </div>

    <div class="contentside">
        <h3>Latest Blogs</h3>
        <div id="blog-list">
            <!-- Blogs will be appended here dynamically -->
        </div>
    </div>
</div>
</body>
</html>
