<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tin tức</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/news.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/header.css">
</head>

<body>
<script src="/static/js/header.js"></script>
<script src="/static/js/footer.js"></script>
<script src="/static/js/url.js"></script>
<div class="container">
    <div class="main-banner">
        <a href="./news_2.html" target="_self">
        <img src="/static/images/tintuc11.jpg" alt="Main Banner">
        </a>
        <div style="margin-top: 40px" class="banner-title" >
            <a style="color: black; text-decoration: none; font-size: 30px;" href="./news_2.html">Tặng Khách Hàng Member Voucher Ưu Đãi 20% Khi Đăng Ký Hội Viên Accor Plus</a>
        </div>
        <div style="margin-top: 30px" class="banner-content">
            <p style="color: black; text-decoration: none; font-size: 20px;" >Tặng Khách Hàng Member Voucher Ưu Đãi 20% Khi Đăng Ký Hội Viên Accor Plus
                Kim cương không chỉ là một món đồ trang sức quý giá mà còn có thể là một khoản đầu tư sinh lời.
                Tuy nhiên, để đầu tư hiệu quả, bạn cần hiểu rõ về thị trường kim cương và các yếu tố ảnh hưởng đến giá trị của nó.
            </p>
        </div>
    </div>
    <div class="side-content">
        <div class="side-item">
            <img src="/static/images/img1.png" alt="Side Image 1">
            <div class="side-item-text">
                <a href="#">Tặng Khách Hàng Member Voucher Ưu Đãi 20% Khi Đăng Ký Hội Viên Accor Plus</a>
            </div>
        </div>
        <div class="side-item">
            <img src="/static/images/img2.png" alt="Side Image 2">
            <div class="side-item-text">
                <a href="#">Kim Cương Tím: Ý Nghĩa Và Những Bí Mật Chưa Từng Tiết Lộ</a>
            </div>
        </div>
        <div class="side-item">
            <img src="/static/images/img3.png" alt="Side Image 3">
            <div class="side-item-text">
                <a href="#">Đá Emerald (Ngọc Lục Bảo): Công Dụng, Giá Thành Và Ý Nghĩa</a>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="container-news">
    <div class="nav-bar">
        <ul>
            <li><a id="dautu-link">Đầu tư kim cương</a></li>
            <li><a id="kienthuc-link">Kiến thức kim cương</a></li>
            <li><a id="sukien-link">Sự kiện</a></li>
            <li><a id="thongtin-link">Thông tin hữu ích</a></li>
            <li><a id="khuyenmai-link">Tin tức khuyến mãi</a></li>
        </ul>
    </div>
    <div class="content active" id="dautu-content">
        <div class="article">
            <img src="/static/images/img4.png" alt="Diamond 1">
            <div class="text">
                <h3>Có 200 Triệu Nên Mua Kim Cương Hay Gửi Tiết Kiệm?</h3>
                <a style="color: black; text-decoration: none;" href="./news_1.html">Khi có 200 triệu nên gửi tiết kiệm hay mua kim cương? 200 triệu là một khoản tiền không nhỏ, và
                    việc quyết định sử dụng nó như thế nào luôn khiến nhiều người băn khoăn. Hãy lựa chọn phổ biến
                    nhất là gửi tiết kiệm và mua kim cương.</a>
            </div>
        </div>
        <div class="article">
            <img src="/static/images/img6.png" alt="Diamond 3">
            <div class="text">
                <h3>Giá Kim Cương Tăng Có Nên Mua Không?</h3>
                <p>Giá kim cương tăng có nên mua hay không? Thị trường kim cương trong thời gian gần đây đang có
                    nhiều biến động, đặc biệt là giá kim cương có xu hướng tăng cao. Điều này khiến nhiều người băn
                    khoăn liệu đây có phải là thời điểm thích hợp.</p>
            </div>
        </div>
        <div class="article">
            <img src="/static/images/img7.png" alt="Diamond 4">
            <div class="text">
                <h3>Nên Mua Kim Cương Gì Có Khả Năng Sinh Lời Cao?</h3>
                <p>Nên mua kim cương gì có khả năng sinh lời cao? Câu hỏi tuy đơn giản nhưng luôn khiến nhiều khách
                    hàng băn khoăn khi có ý định đầu tư kim cương cho mục đích tích lũy và sinh lời. Để kim cương
                    của mình có khả năng sinh lời cao.</p>
            </div>
        </div>
        <div class="article">
            <img src="/static/images/img8.png" alt="Diamond 5">
            <div class="text">
                <h3>Mua Kim Cương Lời Hay Lỗ? Trước Khi Mua Phải Biết!</h3>
                <p>Mua kim cương lời hay lỗ? Câu hỏi tưởng chừng như đơn giản nhưng đây lại là câu hỏi Goldiounens
                    nhận được từ rất nhiều khách hàng. Vậy bạn đã biết những yếu tố quan trọng nào quyết định đến
                    giá trị của viên kim cương chưa? Hãy cùng tìm hiểu.</p>
            </div>
        </div>
    </div>

    <!-- Content for "Kiến thức kim cương" -->
    <div class="content" id="kienthuc-content">
        <a href="./news_2.html" style="color: black; text-decoration: none;">
            <div class="article">
                <img src="/static/images/img9.png" alt="Kim Cương Tím">
                <div class="text">
                    <h3>Tiêu Chuẩn Tuyển Chọn Kim Cương Chất Lượng Cao</h3>
                    <p>
                        Tại Jemmia, mỗi viên kim cương, dù là nhỏ hay lớn, đều được kiểm định kỹ lưỡng trước khi đến tay khách hàng.
                        Quá trình này sử dụng các thiết bị hiện đại nhập khẩu từ GIA, đảm bảo mỗi viên kim cương đều đạt chất lượng cao nhất,
                        mang lại sự an tâm tuyệt đối.
                    </p>
                </div>
            </div>
        </a>

        <div class="article">
            <img src="/static/images/img10.png" alt="Kim Cương Là Gì">
            <div class="text">
                <h3>Kim Cương Là Gì? Tổng Hợp Tất Cả Kiến Thức Về Kim Cương</h3>
                <p>Vẻ đẹp tự nhiên ban tặng, sự sang trọng và giá trị trường tồn là những thuật ngữ khi nhắc đến kim
                    cương. Vậy kim cương là gì? Goldiounens sẽ chia sẻ cho bạn tất cả kiến thức về kim cương trong
                    bài viết dưới đây.</p>
            </div>
        </div>
    </div>

    <!-- Content for "Sự kiện" -->
    <div class="content" id="sukien-content">
        <a href="./news_3.html" style="color: black; text-decoration: none;">
        <div class="article">
            <img src="/static/images/sk1.png" alt="Event 1">
            <div class="text">
                <h3>Goldiounes Thương hiệu kim cương mang bản sắc Việt vươn tầm quốc tế tại Dubai cùng DMMC</h3>
                <p>Sự kiện “Made for Trade – Bước vào thị trường kinh tế cường thịnh Dubai cùng DMMC” đã mở ra cơ hội quan trọng
                    cho các doanh nghiệp Việt Nam trên con đường hội nhập quốc tế. Goldiounes Diamond, thương hiệu kim cương Việt,
                    đã tạo nên ấn tượng mạnh mẽ với bộ sưu tập trang sức kim cương và không gian trưng bày mang đậm bản sắc văn hóa Việt Nam.
                </p>
            </div>
        </div>
        </a>

        <div class="article">
            <img src="/static/images/sk2.png" alt="Event 2">
            <div class="text">
                <h3>Trải Nghiệm Không Gian Trà Thất Tại Goldiounes – Nâng Tầm Giá Trị Văn Hóa Trong Kinh Doanh</h3>
                <p>Phòng trà Goldiounes ra đời với mong muốn giữ gìn và lan tỏa nét đẹp văn hóa Việt Nam, nơi quý
                    khách hàng có thể chiêm ngưỡng những viên kim cương được bày trí trong một không gian văn hóa vô
                    cùng đặc sắc. Cùng khám phá xem Goldiounes đã mang đến những điều tuyệt vời như thế nào.</p>
            </div>
        </div>
    </div>

    <!-- Content for "Thông tin hữu ích" -->
    <div class="content" id="thongtin-content">
        <div class="article">
            <img src="/static/images/tt1.png" alt="Hột Xoàn Là Gì?">
            <div class="text">
                <h3>Kinh Nghiệm Mua Nhẫn Kim Cương Bạn Chắc Chắn Phải Biết</h3>
                <p>Để sở hữu một chiếc nhẫn kim cương ưng ý và giá trị, bạn
                    cần trang bị cho mình những kiến thức và kinh nghiệm cần
                    thiết. Cùng tham khảo một số kinh nghiệm mua nhẫn kim
                    cương trong bài viết của Goldiounes Diamond dưới đây nhé!
                </p>
            </div>
        </div>
        <div class="article">
            <img src="/static/images/tt2.png" alt="Kinh Nghiệm Mua Nhẫn">
            <div class="text">
                <h3>11 Cách Phối Trang Sức Giúp Nàng Thêm Sành Điệu </h3>
                <p>Trang sức không chỉ là phụ kiện làmdđẹp mà còn là cách thể
                    hiện phong cách và cá tính của mỗi người . Để tạo nên một
                    phong cách cho riêng mình, bạn cần biêt cách phối đò trang
                    sức sao cho phù hợp với trang phục và hoàn cảnh.</p>
            </div>
        </div>
    </div>

    <!-- Content for "Tin tức khuyến mãi" -->
    <div class="content" id="khuyenmai-content">
        <div class="article">
            <img src="/static/images/thuong.png" alt="Voucher">
            <div class="text">
                <h3>SẮM NHẪN KIM CƯƠNG, NHẬN VÀNG TÍCH LŨY</h3>
                <p>BỐC THĂM TRÚNG VÀNG, RINH NGÀN ƯU ĐÃI Tháng 7
                    khách hàng mua kim cương tại  Goldiounes sẽ có cơ hội
                    tham gia chương trình “BỐC THĂM TRÚNG VÀNG, RINH
                    NGÀN ƯU ĐÃI” với cơ hội sở hữu ngày 1 chỉ vàng SJC cùng
                    rất nhiều ưu đãi khủng.
                </p>
            </div>
        </div>
        <div class="article">
            <img src="/static/images/duthuyen.png" alt="Voucher">
            <div class="text">
                <h3>Tặng Khách Hàng Member Voucher 10% Set Menu Trên Du Thuyền BenThanh Princess Cruise</h3>
                <p>Thông tin chi tiết chương trình  Goldiounes thân tặng khách
                    hàng Member voucher giảm giá 10% cho set menu trên Du
                    thuyền BenThanh Princess Cruise. Đây là ưu đãi  Goldiounes
                    muốn dành tặng để quý khách hàng có thể trải nghiệm dịch
                    vụ ẩm thực cao cấp và tận hưởng</p>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/User/news.js"></script>
</body>

</html>