<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khuyến mãi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/promotion.css">
</head>

<body>
<div class="header1">
    <p class="phone">Phone: (+84) 123 2345 123</p>
    <p class="center" id="center-text">hello</p>
    <p class="address">Liên hệ </p>
</div>
<div class="header">
    <div class="header-content">
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="login.html"><i style="color: black;" class="fa-regular fa-user"></i></a>
            <i class="fa-regular fa-heart"></i>
            <a href="cart.html"><i style="color: black;" class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <a href="home.html" class="logo"><img src="/static/images/logo.jpg" alt="logo"></a>
    </div>
</div>
<ul id="main-menu">
    <li><a href="about_us.html">VỀ CHÚNG TÔI </a></li>
    <li><a href="">TRANG SỨC KIM CƯƠNG </a>
        <ul class="sub-menu">
            <li class="has-child"><a href="">NHẪN KIM CƯƠNG</a>
                <ul class="sub-menu">
                    <li><a href="men's_diamond.html">NHẪN KIM CƯƠNG NAM</a></li>
                    <li><a href="female_diamond.html">NHẪN KIM CƯƠNG NỮ</a></li>
                </ul>
            </li>
            <li><a href="diamond_earrings.html">BÔNG TAI KIM CƯƠNG</a></li>
            <li><a href="diamond_bracelets.html">LẮC/VÒNG TAY KIM CƯƠNG</a></li>
            <li><a href="diamond_pendant.html">MẶT DÂY CHUYỀN KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="">BẢNG GIÁ</a>
        <ul class="sub-menu">
            <li><a href="list_price.html">BẢNG GIÁ KIM CƯƠNG VIÊN</a></li>
            <li><a href="">BẢNG GIÁ VỎ KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="promotion.html">KHUYẾN MÃI</a></li>
    <li><a href="news.html">TIN TỨC</a></li>
    <li><a href="contact.html">LIÊN HỆ</a></li>
</ul>
</body>
</html>