<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang Sức Kim Cương</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/products.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<script src="/static/js/header.js"></script>
<script src="/static/js/footer.js"></script>

<div class="wrapper">
    <div class="headline">
        <img src="#"
             alt="">
    </div>
</div>

<div class="category-select">
    <select id="category-selector">
        <option value="None" data-title="Trang sức kim cương tự nhiên">DANH MỤC SẢN PHẨM</option>
        <option value="Nhẫn Kim Cương" data-title="Nhẫn Kim Cương">NHẪN KIM CƯƠNG</option>
        <option value="Nhẫn Kim Cương Nam" data-title="Nhẫn Kim Cương Nam">NHẪN KIM CƯƠNG NAM</option>
        <option value="Nhẫn Kim Cương Nữ" data-title="Nhẫn Kim Cương Nữ">NHẪN KIM CƯƠNG NỮ</option>
        <option value="Bông Tai Kim Cương" data-title="Bông Tai Kim Cương">BÔNG TAI KIM CƯƠNG</option>
        <option value="Lắc/Vòng Kim Cương" data-title="Lắc/Vòng Kim Cương">LẮC/VÒNG TAY KIM CƯƠNG</option>
        <option value="Mặt Dây Chuyền Kim Cương" data-title="Mặt Dây Chuyền Kim Cương">MẶT DÂY CHUYỀN KIM CƯƠNG</option>
    </select>
</div>
<hr style="width: 400px; margin-top: 50px; ">
<div class="list-price">
    <select id="price-selector">
        <option value="None">Không</option>
        <option value="0-1000000">Dưới 1,000,000 VND</option>
        <option value="1000000-5000000">1,000,000 - 5,000,000 VND</option>
        <option value="5000000-10000000">5,000,000 - 10,000,000 VND</option>
        <option value="10000000-20000000">10,000,000 - 20,000,000 VND</option>
        <option value="20000000-50000000">20,000,000 - 50,000,000 VND</option>
        <option value="50000000-100000000">50,000,000 - 100,000,000 VND</option>
        <option value="100000000+">Trên 100,000,000 VND</option>
    </select>
</div>


<div id="body1">
    <div class="body-top">
        <div class="body-text">
            <h2 id = "content-product"></h2>
        </div>
    </div>


    <ul class="products" id="product-list">
        <!--  Product    -->
    </ul>
</div>

<script src="/static/js/url.js"></script>
<script src="/static/js/User/ProductDropDown.js"></script>

</body>

</html>