<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mặt dây chuyền kim cương</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/diamond_pendant.css">
</head>

<body>
<div class="header1">
    <p class="phone">Phone: (+84) 123 2345 123</p>
    <p class="center" id="center-text">hello</p>
    <p class="address">Liên hệ </p>
</div>

<div class="header">
    <div class="header-content">
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="login.html"><i style="color: black;" class="fa-regular fa-user"></i></a>
            <i class="fa-regular fa-heart"></i>
            <a href="cart.html"><i style="color: black;" class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <a href="home.html" class="logo"><img src="/static/images/logo.jpg" alt="logo"></a>
    </div>
</div>

<ul id="main-menu">
    <li><a href="about_us.html">VỀ CHÚNG TÔI </a></li>
    <li><a href="">TRANG SỨC KIM CƯƠNG </a>
<!--        <ul class="sub-menu Product_Drop">-->
<!--            <li class="has-child"><a href="#" data-category="NHẪN KIM CƯƠNG" data-title="NHẪN KIM CƯƠNG">NHẪN KIM CƯƠNG</a>-->
<!--                <ul class="sub-menu">-->
<!--                    <li><a href="#" data-category="Nhẫn Kim Cương Nam" data-title="Nhẫn Kim Cương Nam">NHẪN KIM CƯƠNG NAM</a></li>-->
<!--                    <li><a href="#" data-category="Nhẫn Kim Cương Nữ" data-title="Nhẫn Kim Cương Nữ">NHẪN KIM CƯƠNG NỮ</a></li>-->
<!--                </ul>-->
<!--            </li>-->
<!--            <li><a href="#" data-category="Bông Tai" data-title="Bông Tai Kim Cương">BÔNG TAI KIM CƯƠNG</a></li>-->
<!--            <li><a href="#" data-category="Lắc/Vòng" data-title="Lắc/Vòng Tay Kim Cương">LẮC/VÒNG TAY KIM CƯƠNG</a></li>-->
<!--            <li><a href="#" data-category="Mặt Dây Chuyền" data-title="Mặt Dây Chuyền Kim Cương">MẶT DÂY CHUYỀN KIM CƯƠNG</a></li>-->
<!--        </ul>-->
    </li>
    <li><a href="">BẢNG GIÁ</a>
        <ul class="sub-menu">
            <li><a href="list_price.html">BẢNG GIÁ KIM CƯƠNG VIÊN</a></li>
            <li><a href="">BẢNG GIÁ VỎ KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="promotion.html">KHUYẾN MÃI</a></li>
    <li><a href="news.html">TIN TỨC</a></li>
    <li><a href="contact.html">LIÊN HỆ</a></li>
</ul>

<div class="wrapper">
    <div class="headline">
        <img src=""
             alt="">
    </div>
</div>

<div class="category-select">
    <select id="category-selector">
        <option value="None" data-title="Trang sức kim cương tự nhiên">DANH MỤC SẢN PHẨM</option>
        <option value="Nhẫn Kim Cương" data-title="Nhẫn Kim Cương">NHẪN KIM CƯƠNG</option>
        <option value="Nhẫn Kim Cương Nam" data-title="Nhẫn Kim Cương Nam">NHẪN KIM CƯƠNG NAM</option>
        <option value="Nhẫn Kim Cương Nữ" data-title="Nhẫn Kim Cương Nữ">NHẪN KIM CƯƠNG NỮ</option>
        <option value="Bông Tai Kim Cương" data-title="Bông Tai Kim Cương">BÔNG TAI KIM CƯƠNG</option>
        <option value="Lắc/Vòng Kim Cương" data-title="Lắc/Vòng Kim Cương">LẮC/VÒNG TAY KIM CƯƠNG</option>
        <option value="Mặt Dây Chuyền Kim Cương" data-title="Mặt Dây Chuyền Kim Cương">MẶT DÂY CHUYỀN KIM CƯƠNG</option>
    </select>
</div>

<div class="category-price">
<!--chưa biết giá ra sao-->
</div>


<div id="body1">
    <div class="body-top">
        <div class="body-text">
            <h2 id = "content-product"></h2>
        </div>
    </div>


    <ul class="products" id="product-list">
        <!--  Product    -->
    </ul>
</div>


<footer class="footer">
    <div class="grid">
        <div class="grid_row">
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Danh mục</h3>
                <ul class="footer__list">
                    <li>
                        <a href="../html/BongTai.html">Bông tai kim cương</a>
                        <a href="../html/LacVong.html">Lắc tay kim cương</a>
                        <a href="">Nhẫn kim cương</a>
                        <a href="">Dây chuyền kim cương</a>
                        <a href="../html/MatDay.html">Mặt dây chuyền kim cương</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Liên hệ </h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Về chúng tôi</a>
                        <a href="">Tuyển dụng</a>
                        <a href="">Chính sách đổi trả</a>
                        <a href="">Chính sách bảo hành</a>
                        <a href="">Chính sách vận chuyển</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Đăng ký ngay</h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Để nhận được các tin tức thời trang mới nhất cùng với ưu đãi khuyến mãi.</a>
                        <form action="">
                            <input type="text" id="email" name="email" placeholder="Email">
                            <input type="submit" value="ĐĂNG KÝ NGAY">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/static/js/User/about_us.js"></script>
<script src="/static/js/User/ProductDropDown.js"></script>

</body>

</html>