<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khuyến mãi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
    <link rel="stylesheet" href="/static/css/User/promotion.css">
</head>

<body>
<div class="header1">
    <p class="phone">Phone: (+84) 123 2345 123</p>
    <p class="center" id="center-text">hello</p>
    <p class="address">Liên hệ </p>
</div>
<div class="header">
    <div class="header-content">
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="../../login.html"><i style="color: black;" class="fa-regular fa-user"></i></a>
            <i class="fa-regular fa-heart"></i>
            <i style="color: black;" class="fa-solid fa-cart-shopping"></i>
        </div>
        <a href="home.html" class="logo"><img src="/static/images/logo.jpg" alt="logo"></a>
    </div>
</div>
<ul id="main-menu">
    <li><a href="about_us.html">VỀ CHÚNG TÔI </a></li>
    <li><a href="products.html">TRANG SỨC KIM CƯƠNG </a></li>
    <li><a href="">BẢNG GIÁ</a>
        <ul class="sub-menu">
            <li><a href="list_price.html">BẢNG GIÁ KIM CƯƠNG VIÊN</a></li>
            <li><a href="">BẢNG GIÁ VỎ KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="promotion.html">KHUYẾN MÃI</a></li>
    <li><a href="news.html">TIN TỨC</a></li>
    <li><a href="contact.html">LIÊN HỆ</a></li>
</ul>
<!-- search -->
<div id="search-overlay" class="search-overlay">
    <div class="search-box">
        <input type="text" placeholder="Search...">
        <button>Search</button>
    </div>
</div>
<!--  -->
<!-- cart -->
<div id="cart-overlay" class="cart-overlay">
    <div id="cart-box" class="cart-box">
        <h2>Your Shopping Cart</h2>
        <p>No items in the cart.</p>
        <button onclick="window.location.href='./cart.html'">XEM GIỎ HÀNG</button>
    </div>
</div>
<!--  -->


<div class="wrapper">
    <div class="headline">
        <img src="/static/images/khuyenmai1.png" alt="">
    </div>
</div>

<div id="body2">
    <div class="body-top">
        <div class="body-text">
            <h1>ƯU ĐÃI ĐANG DIỄN RA</h1>
            <h4>Khám phá ngay chương trình khuyến mãi đặc biệt dành cho trang sức</h4>
        </div>
    </div>

    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai1.1.png" alt="font">
                            <img src="/static/images/khuyenmai1.2.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">VNF2022042644</a>
                    <div class="product-price">
                        <del>63.547.000 đ</del>53.379.480 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai1.3.png" alt="font">
                            <img src="/static/images/khuyenmai1.4.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NAM 18K</a>
                    <a href="" class="product-cart">VNM2021051862</a>
                    <div class="product-price">
                        <del>87.444.706 đ </del>73.453.553 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai1.5.png" alt="font">
                            <img src="/static/images/khuyenmai1.6.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">BÔNG TAI KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">VBT2022112923</a>
                    <div class="product-price">
                        <del>36.820.000 đ </del> 30.928.800 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai1.7.png" alt="font">
                            <img src="/static/images/khuyenmai1.8.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">LẮC TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2021062088</a>
                    <div class="product-price">
                        <del>71.458.824 đ </del> 60.025.412 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai1.9.png" alt="font">
                            <img src="/static/images/khuyenmai1.10.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">MẶT DÂY CHUYỀN KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">MDC2021062080</a>
                    <div class="product-price">
                        <del>80.490.000 đ </del>67.611.600 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai1.11.png" alt="font">
                            <img src="/static/images/khuyenmai1.12.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN CƯỚI KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">NC2023033144</a>
                    <div class="product-price">
                        <del>31.560.000 đ </del>26.510.400 đ
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="headline">
        <img src="/static/images/khuyenmai2.png" alt="">
    </div>
</div>
<div id="body3">
    <div class="body-top">
        <div class="body-text1">
            <h2>Nhẫn Nữ</h2>
        </div>
    </div>
    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai2.1.png" alt="font">
                            <img src="/static/images/khuyenmai2.2.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00198</a>
                    <div class="product-price">
                        <del>15.239.00 đ </del>12.800.000 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai2.3.png" alt="font">
                            <img src="/static/images/khuyenmai2.4.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00298</a>
                    <div class="product-price">
                        <del>29.750.000 đ </del>24.990.000 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai2.5.png" alt="font">
                            <img src="/static/images/khuyenmai2.6.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00296</a>
                    <div class="product-price">
                        <del>26.786.000 đ </del>22.500.240 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai2.7.png" alt="font">
                            <img src="/static/images/khuyenmai2.8.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00295</a>
                    <div class="product-price">
                        <del>21.286.000 đ </del>17.880.240 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai2.9.png" alt="font">
                            <img src="/static/images/khuyenmai2.10.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">01149N</a>
                    <div class="product-price">
                        <del>68.460.000 đ </del>57.506.400 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai2.11.png" alt="font">
                            <img src="/static/images/khuyenmai2.12.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00116</a>
                    <div class="product-price">
                        <del>34.330.000 đ </del>28.837.200 đ
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="headline">
        <img src="/static/images/khuyenmai3.png" alt="">
    </div>
</div>
<div id="body4">
    <div class="body-top">
        <div class="body-text1">
            <h2>Nhẫn Nam</h2>
        </div>
    </div>

    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai3.1.png" alt="font">
                            <img src="/static/images/khuyenmai3.2.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>

                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NAM 18K</a>
                    <a href="" class="product-cart">VNM2021072146</a>
                    <div class="product-price">
                        <del>381.585.882 đ</del>320.532.141 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai3.3.png" alt="font">
                            <img src="/static/images/khuyenmai3.4.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NAM 18K</a>
                    <a href="" class="product-cart">VNM2021072149</a>
                    <div class="product-price">
                        <del>313.115.294 đ </del>263.016.847 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai3.5.png" alt="font">
                            <img src="/static/images/khuyenmai3.6.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NAM 18K</a>
                    <a href="" class="product-cart">VNM2021072174</a>
                    <div class="product-price">
                        <del>282.437.647 đ </del>237.247.623 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai3.7.png" alt="font">
                            <img src="/static/images/khuyenmai3.8.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NAM 18K</a>
                    <a href="" class="product-cart">NM2021072150</a>
                    <div class="product-price">
                        <del>252.020.000 đ </del>211.696.800 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai3.9.png" alt="font">
                            <img src="/static/images/khuyenmai3.10.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NAM 18K</a>
                    <a href="" class="product-cart">VNM2021072151</a>
                    <div class="product-price">
                        <del>230.540.000 đ </del>193.653.600 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai3.11.png" alt="font">
                            <img src="/static/images/khuyenmai3.12.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NAM 18K</a>
                    <a href="" class="product-cart">NM2021122432 </a>
                    <div class="product-price">
                        <del>214.970.000 đ </del>180.574.800 đ
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="headline">
        <img src="/static/images/khuyenmai6.png" alt="">
    </div>
</div>
<div id="body1">
    <div class="body-top">
        <div class="body-text1">
            <h2>Ưu Đãi Đặt Biệt</h2>
        </div>
    </div>

    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai4.1.png" alt="font">
                            <img src="/static/images/khuyenmai4.2.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>

                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022082805</a>
                    <div class="product-price">
                        <del>115.000.000 đ</del>96.600.000 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai4.3.png" alt="font">
                            <img src="/static/images/khuyenmai4.4.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022082797</a>
                    <div class="product-price">
                        <del>113.720.000 đ </del>95.524.800 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai4.5.png" alt="font">
                            <img src="/static/images/khuyenmai4.6.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022112971</a>
                    <div class="product-price">
                        <del>99.740.000 đ </del>83.781.600 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai4.7.png" alt="font">
                            <img src="/static/images/khuyenmai4.8.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2021062081</a>
                    <div class="product-price">
                        <del>57.564.706 đ </del>48.354.353 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai4.9.png" alt="font">
                            <img src="/static/images/khuyenmai4.10.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2021072133</a>
                    <div class="product-price">
                        <del>220.310.000 đ </del>185.060.400 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="/static/images/khuyenmai4.11.png" alt="font">
                            <img src="/static/images/khuyenmai4.12.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">VÒNG TAY KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">LT2022082794</a>
                    <div class="product-price">
                        <del>205.360.000 đ</del>172.502.400 đ
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<footer class="footer">
    <div class="grid">
        <div class="grid_row">
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Danh mục</h3>
                <ul class="footer__list">
                    <li>
                        <a href="diamond_earrings.html">Bông tai kim cương</a>
                        <a href="diamond_bracelets.html">Lắc tay kim cương</a>
                        <a href="">Nhẫn kim cương</a>
                        <a href="">Dây chuyền kim cương</a>
                        <a href="diamond_pendant.html">Mặt dây chuyền kim cương</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Liên hệ </h3>
                <ul class="footer__list">
                    <li>
                        <a href="/static/css/User/about_us.css">Về chúng tôi</a>
                        <a href="">Tuyển dụng</a>
                        <a href="">Chính sách đổi trả</a>
                        <a href="">Chính sách bảo hành</a>
                        <a href="">Chính sách vận chuyển</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Đăng ký ngay</h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Để nhận được các tin tức thời trang mới nhất cùng với ưu đãi khuyến mãi.</a>
                        <form action="">
                            <input type="text" id="email" name="email" placeholder="Email">
                            <input type="submit" value="ĐĂNG KÝ NGAY">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="/static/js/User/promotion.js"></script>

</body>
</html>