<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Khuyến mãi</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="../css/KhuyenMai.css">
</head>

<body>
<div class="header1">
    <p class="phone">Phone: (+84) 123 2345 123</p>
    <p class="center" id="center-text">hello</p>
    <p class="address">Liên hệ </p>
</div>
<div class="header">
    <div class="header-content">
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="login.html"><i style="color: black;" class="fa-regular fa-user"></i></a>
            <i class="fa-regular fa-heart"></i>
            <a href="./haha.html"><i style="color: black;" class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <a href="index.html" class="logo"><img src="../images/logo.jpg" alt="logo"></a>
    </div>
</div>
<ul id="main-menu">
    <li><a href="../html/Vechungtoi.html">VỀ CHÚNG TÔI </a></li>
    <li><a href="">TRANG SỨC KIM CƯƠNG </a>
        <ul class="sub-menu">
            <li class="has-child"><a href="">NHẪN KIM CƯƠNG</a>
                <ul class="sub-menu">
                    <li><a href="../html/NhanNam.html">NHẪN KIM CƯƠNG NAM</a></li>
                    <li><a href="../html/NhanNu.html">NHẪN KIM CƯƠNG NỮ</a></li>
                </ul>
            </li>
            <li><a href="../html/BongTai.html">BÔNG TAI KIM CƯƠNG</a></li>
            <li><a href="../html/LacVong.html">LẮC/VÒNG TAY KIM CƯƠNG</a></li>
            <li><a href="../html/MatDay.html">MẶT DÂY CHUYỀN KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="../thucdon/thucdon.html">BẢNG GIÁ</a>
        <ul class="sub-menu">
            <li><a href="../html/Banggia.html">BẢNG GIÁ KIM CƯƠNG VIÊN</a></li>
            <li><a href="">BẢNG GIÁ VỎ KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="../html/KhuyenMai.html">KHUYẾN MÃI</a></li>
    <li><a href="../lienhe/lienhe.html">TIN TỨC</a></li>
    <li><a href="../html/LienHe.html">LIÊN HỆ</a></li>
</ul>


<div class="wrapper">
    <div class="headline">
        <img src="../images/khuyenmai1.png" alt="">
    </div>
</div>
<div id="body1">
    <div class="body-top">
        <div class="body-text">
            <h1>ƯU ĐÃI ĐANG DIỄN RA</h1>
            <h4>Khám phá ngay chương trình khuyến mãi đặc biệt dành cho trang sức</h4>
        </div>
    </div>
    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai1.1.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>

                <div class="product-info">
                    <a href="" class="product-name">Vòng tay Tennis</a>
                    <a href="" class="product-cart">VTA1116 </a>
                    <div class="product-price">
                        <del>61.530.000 đ</del>52.300.500 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai1.2.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn kim cương Solitaire</a>
                    <a href="" class="product-cart">NKC1201 </a>
                    <div class="product-price">
                        <del>28.420.000 đ </del>24.157.000 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai1.3.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn kim cương Solitaire</a>
                    <a href="" class="product-cart">NKC1202 </a>
                    <div class="product-price">
                        <del>30.420.000 đ </del> 26.157.000 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai1.4.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn kim cương Solitaire</a>
                    <a href="" class="product-cart">ERA00116 </a>
                    <div class="product-price">
                        <del>21.950.000 đ </del> 18.657.500 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai1.5.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn thời trang Minimalist</a>
                    <a href="" class="product-cart">NTT1901 </a>
                    <div class="product-price">
                        <del>7.830.000 đ </del> 6.655.500 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai1.6.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Mặt dây chuyền Hoa Bốn Cánh</a>
                    <a href="" class="product-cart">MDA2111 </a>
                    <div class="product-price">
                        <del>12.990.000 đ </del> 11.941.500 đ
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="headline">
        <img src="../images/khuyenmai2.png" alt="">
    </div>
</div>
<div id="body1">
    <div class="body-top">
        <div class="body-text1">
            <h2>Nhẫn Nữ</h2>
        </div>
    </div>
    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai2.1.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00198 </a>
                    <div class="product-price">
                        <del>52.690.000 đ </del> 45.859.600 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai2.2.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00298</a>
                    <div class="product-price">
                        <del>72.790.000 đ </del> 59.543.600 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai2.3.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00398</a>
                    <div class="product-price">
                        <del>130.680.000 đ </del> 109.611.200 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai2.4.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00498</a>
                    <div class="product-price">
                        <del>58.360.000 đ </del> 47.422.400 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai2.5.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00598</a>
                    <div class="product-price">
                        <del>31.350.000 đ </del> 27.934.000 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai2.6.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">NHẪN KIM CƯƠNG NỮ 18K</a>
                    <a href="" class="product-cart">WRA00698</a>
                    <div class="product-price">
                        <del>49.300.000 đ </del> 44.612.000 đ
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="headline">
        <img src="../images/khuyenmai3.png" alt="">
    </div>
</div>
<div id="body1">
    <div class="body-top">
        <div class="body-text1">
            <h2>Nhẫn Nam</h2>
        </div>
    </div>
    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai3.1.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>

                <div class="product-info">
                    <a href="" class="product-name">Nhẫn nam Eternity </a>
                    <a href="" class="product-cart">NNA8019 </a>
                    <div class="product-price">
                        <del>68.420.000 đ</del> 58.157.000 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai3.2.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn nam Eternity </a>
                    <a href="" class="product-cart">NNA8014 </a>
                    <div class="product-price">
                        <del>47.070.000 đ </del>40.009.500 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai3.3.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn phong thủy Fancy Diamond</a>
                    <a href="" class="product-cart">VNM2023043183</a>
                    <div class="product-price">
                        <del>48.570.000 đ </del> 41.284.500 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai3.4.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn phong thủy Kim Cương </a>
                    <a href="" class="product-cart">VNM2023043198 </a>
                    <div class="product-price">
                        <del>39.800.000 đ </del> 33.830.000 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai3.5.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn nam Kim Cương</a>
                    <a href="" class="product-cart">NNA3114</a>
                    <div class="product-price">
                        <del>40.470.000 đ </del> 34.399.500 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai3.6.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn nam Kim Cương</a>
                    <a href="" class="product-cart">NNA3401 </a>
                    <div class="product-price">
                        <del>43.100.000 đ </del> 36.635.000 đ
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="wrapper">
    <div class="headline">
        <img src="../images/khuyenmai6.png" alt="">
    </div>
</div>
<div id="body1">
    <div class="body-top">
        <div class="body-text1">
            <h2>Ưu Đãi Đặt Biệt</h2>
        </div>
    </div>
    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai4.1.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>

                <div class="product-info">
                    <a href="" class="product-name">Nhẫn thời trang Eternity </a>
                    <a href="" class="product-cart">NCF0135 – Ni 9 </a>
                    <div class="product-price">
                        <del>12.110.000 đ</del> 7.266.000 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai4.2.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn thời trang Eternity </a>
                    <a href="" class="product-cart">NCF0127 – Ni 9 </a>
                    <div class="product-price">
                        <del>26.900.000 đ </del>16.140.000 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai4.3.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn kim cương Royal </a>
                    <a href="" class="product-cart">NKC9914 – Ni 10 </a>
                    <div class="product-price">
                        <del>70.300.000 đ </del> 42.180.000 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai4.4.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn thời trang Eternity </a>
                    <a href="" class="product-cart">NCF0132 – Ni 8 </a>
                    <div class="product-price">
                        <del>44.600.000 đ </del> 28.990.000 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai4.5.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn thời trang Eternity </a>
                    <a href="" class="product-cart"> NCF0120 – Ni 10.5</a>
                    <div class="product-price">
                        <del>17.260.000 đ </del> 11.219.000 đ
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <img src="../images/khuyenmai4.6.png" alt="">
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">Nhẫn thời trang Eternity </a>
                    <a href="" class="product-cart">NCF0119 – Ni 11</a>
                    <div class="product-price">
                        <del>20.440.000 đ </del> 13.286.000 đ
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<footer class="footer">
    <div class="grid">
        <div class="grid_row">
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Danh mục</h3>
                <ul class="footer__list">
                    <li>
                        <a href="../html/BongTai.html">Hoa tai kim cương</a>
                        <a href="../html/LacVong.html">Lắc tay kim cương</a>
                        <a href="">Nhẫn kim cương</a>
                        <a href="">Dây chuyền kim cương</a>
                        <a href="../html/MatDay.html">Mặt dây chuyền kim cương</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Liên hệ </h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Về chúng tôi</a>
                        <a href="">Tuyển dụng</a>
                        <a href="">Chính sách đổi trả</a>
                        <a href="">Chính sách bảo hành</a>
                        <a href="">Chính sách vận chuyển</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Đăng ký ngay</h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Để nhận được các tin tức thời trang mới nhất cùng với ưu đãi khuyến mãi.</a>
                        <form action="">
                            <input type="text" id="email" name="email" placeholder="Email">
                            <input type="submit" value="ĐĂNG KÝ NGAY">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


</div>
<script src="/js/User/about_us.js"></script>
</body>

</html>