<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác nhận đặt hàng</title>
    <link rel="stylesheet" href="/static/css/User/success.css">
</head>

<body>
<div class="header">
    <div class="logo">
        <a href="home.html" class="logo"><img src="/static/images/logo.jpg" alt="logo"></a>
    </div>
    <h1>ĐẶT HÀNG THÀNH CÔNG</h1>
    <p>Mã đơn hàng <strong>#12345</strong></p>
    <p>Cảm ơn quý khách đã mua sắm tại GOLDIOUNES</p>

    <div class="content">
        <p>Chúng tôi xin thông báo, đơn hàng <strong>#101746</strong> đã được tiếp nhận, nhân viên tư vấn sẽ liên hệ trong thời gian sớm nhất</p></div>

    <div class="order-info">
        <h2>Thông tin đơn hàng</h2>
        <p>Hihi</p>
        <p>0902205566</p>
        <p>527 dbp</p>
        <p>Phường 25</p>
        <p>Quận Bình Thạnh</p>
        <p>TP. Hồ Chí Minh</p>
        <p>Việt Nam</p>
        <p><strong>Phương thức thanh toán</strong></p>
        <p>Thanh toán chuyển khoản online</p>
    </div>

    <p>Quý khách vui lòng kiểm tra email để được cập nhật các trạng thái mới nhất của đơn hàng. Chân thành cảm ơn quý khách</p>
        <a href="about_us.html" class="button-link">TIẾP TỤC MUA HÀNG</a>
</div>

</body>
</html>
