<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mã Xác Minh</title>
  <link rel="stylesheet" href="/static/css/User/verification_code.css">
</head>

<body>
<div class="container">
  <div class="header">
    <span class="close-button">&times;</span>
    <h1>Mã xác minh</h1>
  </div>
  <hr class="header-line">
  <p>Một mã xác minh đã được gửi đến địa chỉ email của bạn. Nhập mã xác minh bên dưới và tạo mật khẩu mới.</p>
  <form action="/verify-code" method="POST">
    <label for="code">Mã <span>*</span></label>
    <input type="text" id="code" name="code" placeholder="- - - - -" required>
    <div class="resend" id="resend-text">
      <span>Gửi lại mã (có sau 30 giây)</span>
    </div>
    <button type="submit" id="submit-button"><b>Gửi Đi</b></button>
  </form>
</div>

<script src="/static/js/User/verification_code.js"></script>
</body>
</html>
