body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 1000;
    background-color: #f4f7fb;
}

header {
    margin-bottom: 0;
    padding-bottom: 0;
}

.body1 {
    margin: auto;
    width: 90%;
    background-color: #f4f7fb;
    max-width: 1200px; // căn lề trái

}

.wrapper {
    margin-left: 192px;
    margin-top: 18px;
    padding: 10px;
    box-sizing: border-box;
}


* {
    box-sizing: border-box;
}
.sidebar {
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding-top: 20px;
}

/* Tiêu đề sidebar */
.sidebar h2 {
    color: #0d0e1c;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.sidebar ul li a ion-icon{
    font-size: 26px;
    color: #141E0C;
}

.main-menu {
    list-style-type: none;
    padding: 0;
}

.main-menu li a {
    font-size: 16px;
    display: block;
    padding: 18px 20px;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s ease;
    line-height: 1.5px;
}

.main-menu li a:hover {
    background-color: #cbd0dd;
}

/* Submenu sổ xuống */
.submenu {
    position: relative;
    display: block;
}

.submenu ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ebf0f8;
    list-style-type: none;
    padding: 0;
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    z-index: 1000;
}

.submenu:hover ul {
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* Submenu link */
.submenu ul li a {
    padding: 15px 25px;
    color: #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: block;
}

.submenu ul li a:hover {
    background-color: #cbd0dd;
}

ion-icon {
    font-size: 20px;
    line-height: 1.5px;
    vertical-align: middle;
}

.navbar {
    margin-left: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 58px;
    color: #000000;
    background-color: #f4f7fb;
    padding: 0 20px;
}

.navbar__info {
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #000000;
}

.navbar__cta {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.navbar__background-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ffffff;
}

.navbar__hello {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.navbar__show {
    cursor: pointer;
}

.navbar-separator {
    width: calc(100% - 280px);
    margin-left: 280px;
    height: 1px;
    background-color: #162165e7;
}

option {
    font-size: 18px;
    padding: 10px;
}
/**/

.form {
    display: flex;
}

.field {
    flex: 1;
    margin: 10px;
    position: relative;
    box-sizing: border-box;
}

.top-fields, .middle-fields {
    display: flex;
    justify-content: space-between;
}

.field input{
    font-size: 18px;
    padding: 11px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: white;
    color: #000;
    box-sizing: border-box;
}

select{
    font-size: 18px;
    padding: 10px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: white;
    color: #000;
    box-sizing: border-box;
}

.field input[type="number"] {
    font-size: 18px;
    padding: 1px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: white;
    color: #000;
    box-sizing: border-box;
}

.field input[type="file"] {
    font-size: 18px;
    padding: 8px;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 7px;
    background-color: white;
    color: #000;
    box-sizing: border-box;
}

.field input:focus,
select:focus,
.field input[type="number"]:focus {
    border-color: #004085;
    outline: none;
}

.field label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
}

.button {
    display: flex;
    justify-content: flex-start;
    margin: 8px 8px;
}
.button input {
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 700px;
}
.button-group input{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin: 8px 8px;
}

/**/


.button input.save  {
    background-color: #304067;
    color: #fff;
}

.button-group input.save {
    background-color: #304067;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 200px;
    margin-top: 35px;
}

.button-group input.cancel  {
    background-color: #c2c8cd;
    color: #304067;
    font-weight: 600;
    margin-left: 100px;
    margin-top: 35px;
}

.button-group input.cancel:hover {
    background-color: #b7bec1;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-input {
    margin-top: 14px;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background: #fafafa;
    width: 90%;
    font-size: 18px;
}

.toggle-quantity {
    font-size: 28px;
    color: #004085;
    margin-left: 15px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease;
}

.toggle-quantity:hover {
    color: #002752;
    transform: scale(1.2);
}







