body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fb;
}

.table-wrapper {
    padding: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #e4e7ef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1110px;
    margin-left:320px;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

th {
    background-color: #f9f9f9;
    color: black;
}









