body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7fb;
}

.table-wrapper {
    padding: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #e4e7ef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 1110px;
    margin-left:320px;
    align-items: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 23px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

th {
    background-color: #f9f9f9;
    color: black;
}

.status-chua-xac-nhan,
.status-da-xac-nhan,
.status-dang-giao,
.status-da-giao {
    border-radius: 8px;
    padding: 5px 10px;
    text-align: center;
    border-color: white;
}

.status-chua-xac-nhan {
    background-color: #f3de89;
    color: #333;
}

.status-da-xac-nhan {
    background-color: #7abc96;
    color: #fff;
}

.status-dang-giao {
    background-color: #6ab1ca;
    color: #fff;
}

.status-da-giao {
    background-color: #87a9df;
    color: #fff;
}



