.header {
    position: relative;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f1f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 100%;
    max-width: 550px;
    box-sizing: border-box;
}

.container h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 10px;
    margin-left:20px;
}

.container p {
    color: #666;
    margin-bottom: 50px;
    margin-left:20px;
}

.container form{
    width: 80%;
    margin-left: 50px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

input[type="text"]::placeholder {
    color: #aaa;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #1a5393;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

button:hover {
    background-color: #8597b1;
}

.back-button {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
    margin-bottom: 40px;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #333;
    color: #fff;
}
