<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trang chủ</title>
        <link rel="stylesheet" href="/static/css/about_us.css">
    </head>
    <body>
        <div class="header">
            <a href="index.html"><img src="/static/images/logo.jpg" alt="logo"></a>
            <nav class="navbar">
                <a href="">VỀ CHÚNG TÔI</a>
                <a href="">TRANG SỨC KIM CƯƠNG</a>
                <a href="">BẢNG GIÁ</a>
                <a href="">KHUYẾN MÃI</a>
                <a href="">TIN TỨC</a>
                <a href="">LIÊN HỆ</a>
            </nav>
        </div>
    <script src="/static/js/index.js"></script>
    </body>
</html>