<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mặt dây chuyền kim cương</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="../css/MatDay.css">
</head>

<body>
 <div class="header1">
<p class="phone">Phone: (+84) 123 2345 123</p>
<p class="center" id="center-text">hello</p>
<p class="address">Liên hệ </p>
</div>

<div class="header">
    <div class="header-content">
        <div class="icons">
            <i class="fa-solid fa-magnifying-glass"></i>
            <a href="./login.html"><i style="color: black;" class="fa-regular fa-user"></i></a>
            <i class="fa-regular fa-heart"></i>
            <a href="./haha.html"><i style="color: black;" class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <a href="index.html" class="logo"><img src="../images/logo.jpg" alt="logo"></a>
    </div>
</div>

<ul id="main-menu">
    <li><a href="../html/Vechungtoi.html">VỀ CHÚNG TÔI </a></li>
    <li><a href="">TRANG SỨC KIM CƯƠNG </a>
        <ul class="sub-menu">
            <li class="has-child"><a href="">NHẪN KIM CƯƠNG</a>
                <ul class="sub-menu">
                    <li><a href="../html/NhanNam.html">NHẪN KIM CƯƠNG NAM</a></li>
                    <li><a href="../html/NhanNu.html">NHẪN KIM CƯƠNG NỮ</a></li>
                </ul>
            </li>
            <li><a href="../html/BongTai.html">BÔNG TAI KIM CƯƠNG</a></li>
            <li><a href="../html/LacVong.html">LẮC/VÒNG TAY KIM CƯƠNG</a></li>
            <li><a href="../html/MatDay.html">MẶT DÂY CHUYỀN KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="../thucdon/thucdon.html">BẢNG GIÁ</a>
        <ul class="sub-menu">
            <li><a href="../html/Banggia.html">BẢNG GIÁ KIM CƯƠNG VIÊN</a></li>
            <li><a href="">BẢNG GIÁ VỎ KIM CƯƠNG</a></li>
        </ul>
    </li>
    <li><a href="../html/KhuyenMai.html">KHUYẾN MÃI</a></li>
    <li><a href="../lienhe/lienhe.html">TIN TỨC</a></li>
    <li><a href="../html/LienHe.html">LIÊN HỆ</a></li>
</ul>


<div class="wrapper">
    <div class="headline">
        <img src="../images/DAY-CHUYEN-KIM-CUONG-TU-NHIEN-qq4mgv5ug29p4z0fb9uq7nm4ug2nfpvpayr2bp39f4 1.png" alt="">
    </div>
</div>


<div id="body1">
    <div class="body-top">
        <div class="body-text">
            <h2>Mặt dây chuyền kim cương</h2>
        </div>
    </div>

    <ul class="products">
        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="../images/mat1.png" alt="font">
                            <img src="../images/mat11.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">MẶT DÂY CHUYỀN KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">01133MD</a>
                    <div class="product-price">
                        <del>45.750.000 đ</del> 38.430.000 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="../images/mat2.png" alt="font">
                            <img src="../images/mat22.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">MẶT DÂY CHUYỀN KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">VMD2023063307-1</a>
                    <div class="product-price">
                        <del>36.300.000 đ </del> 30.492.000 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="../images/mat3.png" alt="font">
                            <img src="../images/mat33.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">MẶT DÂY CHUYỀN KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">MDC2023023092 </a>
                    <div class="product-price">
                        <del>38.400.000 đ </del> 32.256.000 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="../images/mat4.png" alt="font">
                            <img src="../images/mat44.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">MẶT DÂY CHUYỀN KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">01275MD </a>
                    <div class="product-price">
                        <del>32.970.000 đ </del> 27.694.800 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="../images/mat5.png" alt="font">
                            <img src="../images/mat55.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">MẶT DÂY CHUYỀN KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">PDA0092</a>
                    <div class="product-price">
                        <del>26.090.000 đ </del> 21.915.600 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="../images/mat6.png" alt="font">
                            <img src="../images/mat66.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">MẶT DÂY CHUYỀN KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">01149MD</a>
                    <div class="product-price">
                        <del>48.090.000 đ </del> 40.395.600 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="../images/mat7.png" alt="font">
                            <img src="../images/mat77.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">MẶT DÂY CHUYỀN KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">01131MD</a>
                    <div class="product-price">
                        <del>40.500.000 đ </del> 34.020.000 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="../images/mat8.png" alt="font">
                            <img src="../images/mat88.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">MẶT DÂY CHUYỀN KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">01277MD</a>
                    <div class="product-price">
                        <del>25.440.000 đ </del> 21.369.600 đ
                    </div>
                </div>
            </div>
        </li>

        <li>
            <div class="product-item">
                <div class="product-top">
                    <a href="" class="product-thumb">
                        <div class="card">
                            <img src="../images/mat9.png" alt="font">
                            <img src="../images/mat99.png" alt="back">
                        </div>
                    </a>
                    <a href="" class="buy-now">Xem chi tiết</a>
                </div>
                <div class="product-info">
                    <a href="" class="product-name">MẶT DÂY CHUYỀN KIM CƯƠNG 18K</a>
                    <a href="" class="product-cart">MDC2021072136</a>
                    <div class="product-price">
                        <del>92.350.000 đ </del> 77.574.000 đ
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<footer class="footer">
    <div class="grid">
        <div class="grid_row">
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Danh mục</h3>
                <ul class="footer__list">
                    <li>
                        <a href="../html/BongTai.html">Hoa tai kim cương</a>
                        <a href="../html/LacVong.html">Lắc tay kim cương</a>
                        <a href="">Nhẫn kim cương</a>
                        <a href="">Dây chuyền kim cương</a>
                        <a href="../html/MatDay.html">Mặt dây chuyền kim cương</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Liên hệ </h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Về chúng tôi</a>
                        <a href="">Tuyển dụng</a>
                        <a href="">Chính sách đổi trả</a>
                        <a href="">Chính sách bảo hành</a>
                        <a href="">Chính sách vận chuyển</a>
                    </li>
                </ul>
            </div>
            <div class="grid__column-2-4">
                <h3 class="footer-heading">Đăng ký ngay</h3>
                <ul class="footer__list">
                    <li>
                        <a href="">Để nhận được các tin tức thời trang mới nhất cùng với ưu đãi khuyến mãi.</a>
                        <form action="">
                            <input type="text" id="email" name="email" placeholder="Email">
                            <input type="submit" value="ĐĂNG KÝ NGAY">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


</div>
<script src="/static/js/about_us.js"></script>
</body>

</html>