<!DOCTYPE html>
<html lang="vi">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Về chúng tôi</title>
        <link rel="stylesheet" href="/static/css/index.css">
    </head>
    <body>
        <div class="header">
            <a href="index.html"><img src="/static/images/logo.jpg" alt="logo"></a>
        </div>
            <nav class="navbar">
                <ul class="main-menu">
                    <li><a href="about_us.html">VỀ CHÚNG TÔI</a></li>
                    <li><a href="">TRANG SỨC KIM CƯƠNG</a></li>
                    <li><a href="">BẢNG GIÁ</a></li>
                    <li><a href="">KHUYẾN MÃI</a></li>
                    <li><a href="">TIN TỨC</a></li>
                    <li><a href="">LIÊN HỆ</a></li>
                </ul>
            </nav>



    </body>
</html>
