<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng Nhập / Đăng Ký</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <!-- Google API script -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
<div class="container">
    <div class="header">
        <span class="close-button">&times;</span>
    </div>

    <div class="login-section">
        <h2>Tôi Đã Có Tài Khoản</h2>
        <p><b>Vui lòng nhập email và mật khẩu của bạn</b></p>

        <form action="#" method="POST" id="loginForm">
            <label for="email">Email <span>*</span></label>
            <input type="email" id="email" name="email" placeholder="hello@gmail.com" required>

            <label for="password">Mật khẩu <span>*</span></label>
            <input type="password" id="password" name="password" required>

            <div class="forgot-password">
                <a href="remember.html"><b>Quên mật khẩu?</b></a>
            </div>
            <button type="submit"><b>Đăng Nhập</b></button>
        </form>

        <div id="g_id_onload"
             data-client_id="619533343671-0vbjc3umdk8o58ic2i908s0mn7qc9sjt.apps.googleusercontent.com"
             data-auto_prompt="false"
             data-callback="handleCredentialResponse">
        </div>
        <div class="g_id_signin"
             data-type="standard"
             data-size="large"
             data-theme="outline"
             data-text="sign_in_with"
             data-shape="rectangular"
             data-logo_alignment="left">
        </div>
    </div>

    <div class="register-section">
        <h2>Tôi Chưa Có Tài Khoản</h2>
        <p>Tạo một tài khoản cá nhân để tận hưởng những lợi ích bổ sung <br> và có trải nghiệm phong phú.</p>
        <a href="/DiamondShopSystem/src/main/resources/templates/User/create_account.html" class="register-button">
            <b>Tạo Tài Khoản Của Tôi</b>
        </a>
    </div>
</div>

<script src="/static/js/login.js"></script>
</body>
</html>
